@using Cfo.Cats.Domain.Identity
@using Cfo.Cats.Infrastructure.Services.Identity

@inherits CatsComponentBase

@inject IStringLocalizer<ResetPassword> L
@inject IValidationService Validator
@inject IPasswordService PasswordService
@inject UserManager<ApplicationUser> UserManager;

<MudDialog>
    <DialogContent>
        <MudForm Disabled="!_passwordReset" Model="@Model" @ref="@form">
            <MudGrid>
                <MudItem xs="12">
                    <MudPasswordField Immediate="true"
                                      Label="@L["Generate a Temporary Password"]"
                                      @bind-Value="Model.Password"
                                      For="@(() => Model.Password)"
                                      Variant="Variant.Text"
                                      PasswordMode="true"
                                      Required="true"      
                                      Disabled="@_isPasswordFieldDisabled"
                                      ReadOnly="true"
                                      Class="mt-4"/>
                </MudItem>
                <MudItem xs="12">
                    <MudStack Spacing="2">
                        <MudButton Color="Color.Secondary" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Speaker" OnClick="() => _expanded = !_expanded">@(_expanded ? "Hide" : "Show") Pronunciation</MudButton>
                        <MudDivider />
                        <MudCollapse Expanded="_expanded">
                            <MudSimpleTable>
                                <thead>
                                    <tr>
                                        <th>Character</th>
                                        <th>Pronunciation</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var word in _pronunciation)
                                    {
                                        <tr>
                                            <td style="font-weight: bold">
                                                @{
                                                    if(!char.IsLetter(word.Key))
                                                    {
                                                        @word.Key
                                                    }
                                                    else
                                                    {
                                                        @($"{word.Key} " + (char.IsUpper(word.Key) ? "(uppercase)" : "(lowercase)"))
                                                    }
                                                }
                                            </td>
                                            <td>@word.Value</td>
                                        </tr>
                                    }
                                </tbody>
                            </MudSimpleTable>
                        </MudCollapse>
                    </MudStack>
                </MudItem>
            </MudGrid>
        </MudForm>
    </DialogContent>
    <DialogActions>
        <MudLoadingButton Color="Color.Secondary" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Password" Loading="_loading" OnClick="Generate" Disabled="_passwordReset">RESET</MudLoadingButton>
        <MudSpacer />
        <MudButton Color="Color.Secondary" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Cancel" OnClick="Cancel" Disabled="_passwordReset">@ConstantString.Cancel</MudButton>
        <MudLoadingButton StartIcon="@Icons.Material.Filled.Save" Loading="_loading" Variant="Variant.Filled" Color="Color.Primary" OnClick="Close" Disabled="!_passwordReset">@ConstantString.Continue</MudLoadingButton>
    </DialogActions>
</MudDialog>