@page "/identity/users"

@using Cfo.Cats.Application.Features.Identity.DTOs
@using Cfo.Cats.Server.UI.Pages.Identity.Roles.Components
@using Cfo.Cats.Application.Common.Interfaces.Identity
@using Cfo.Cats.Application.Common.Interfaces.MultiTenant
@using Cfo.Cats.Infrastructure.Services
@using Cfo.Cats.Server.UI.Services.Fusion
@using ZiggyCreatures.Caching.Fusion


@attribute [Authorize(Policy = SecurityPolicies.SystemFunctionsRead)]
@inherits CatsComponentBase
@implements IDisposable

@inject IUsersStateContainer UsersStateContainer
@inject IOnlineUserTracker OnlineUserTracker
@inject IUserService UserService
@inject ITenantService TenantsService
@inject IFusionCache FusionCache;
@inject INetworkIpProvider NetworkIpProvider
@inject IFusionCache Cache;

@inject IStringLocalizer<Users> L
@inject ILogger<Users> Logger

<PageTitle>@Title</PageTitle>

@if(_initialised)
{
    <MudDataGrid @ref="_table"
    T="ApplicationUserDto"
    FixedHeader="true"
    FixedFooter="false"
    Height="calc(100vh - 300px)"
    @bind-RowsPerPage="_defaultPageSize"
    Hover="true"
    Loading="@_loading"
    ServerData="@(ServerReload)"
    BreakPoint="Breakpoint.Sm">
        <ToolBarContent>|
            <MudIcon Icon="@Icons.Material.Filled.SwitchAccount" Size="Size.Large" Class="mr-2"/>
            <MudText Typo="Typo.caption" Class="mr-2">@L[_currentDto.GetClassDescription()]</MudText>
            <MudSpacer />
            
            <MudStack Row="true">
                @if (_canSearch)
                {
                    <MudSelect T="string" ValueChanged="@OnChangedListView" Value="@_selectedTenantId" Dense="false" Label="Tenant" Clearable="true"
                               Style="min-width: 300px;" Placeholder="Select a tenant">
                        @foreach (var item in TenantsService.DataSource.Where(x => x.Id.StartsWith(_currentUser!.TenantId!)).OrderBy(t => t.Id))
                        {
                            <MudSelectItem T="string" Value="@item.Id">
                                @item.Name  
                            </MudSelectItem>
                        }
                    </MudSelect>
                    <MudSelect T="string" Placeholder="Select a role" Value="@_searchRole" Clearable="true" ValueChanged="@OnSearchRole" Dense="false" Label="Role">
                        @foreach (var str in _roles.OrderBy(x => x.Name).Select(x => x.Name) )
                        {
                            <MudSelectItem Value="@str">@str</MudSelectItem>
                        }
                    </MudSelect>
                    <MudTextField T="string" Immediate="false" ValueChanged="@OnSearch" Value="@_searchString" Placeholder="@ConstantString.Search" Adornment="Adornment.End" Label="Search"
                                  AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Small">
                    </MudTextField>
                }
                
                <MudStack Row="true">
                     <MudButton Variant="Variant.Filled"
                               Size="Size.Small"
                               Disabled="@_loading"
                               OnClick="@(OnRefresh)"
                               StartIcon="@Icons.Material.Filled.Refresh" 
                               Color="Color.Secondary">
                        @ConstantString.Refresh
                    </MudButton>
                    @if (_canCreate)
                    {
                        <MudButton Variant="Variant.Filled" 
                                Color="Color.Primary"
                                   StartIcon="@Icons.Material.Filled.Add"
                                   Size="Size.Small"
                                   OnClick="@OnCreate">
                            @ConstantString.New
                        </MudButton>
                    }
                </MudStack>
                

            </MudStack>
            
          
        </ToolBarContent>
        <Columns>
            <HierarchyColumn T="ApplicationUserDto" ButtonDisabledFunc="@(x => x.Notes.Count() is 0)" />
            <TemplateColumn CellStyle="width:60px" Title="@ConstantString.Actions" Sortable="false">
                <CellTemplate>
                    @if (_canEdit || _canArchive || _canManageRoles || _canResetPassword || _canToggleActiveStatus || _canManagePermissions || _canUnlock)
                    {
                        <MudMenu Icon="@Icons.Material.Filled.Edit" Variant="Variant.Filled" Size="Size.Small"
                        Dense="true"
                        EndIcon="@Icons.Material.Filled.KeyboardArrowDown" IconColor="Color.Info" AnchorOrigin="Origin.CenterLeft">

                            <MudMenuItem OnClick="@(() => ShowIdentityAuditDialog(context.Item, "History"))">Audit</MudMenuItem>
                            @if (_canEdit)
                            {
                                <MudMenuItem OnClick="@(() => OnEdit(context.Item))">@ConstantString.Edit</MudMenuItem>
                            }

                            @if (_canToggleActiveStatus)
                            {
                                @if (context.Item.IsActive)
                                {
                                    <MudMenuItem OnClick="@(() => OnSetActive(context.Item))">@L["Deactivate"]</MudMenuItem>
                                }
                                else
                                {
                                    <MudMenuItem OnClick="@(() => OnSetActive(context.Item))">@L["Activate"]</MudMenuItem>
                                }
                            }
                            @if(CanResetPassword(context.Item.AssignedRoles))
                            {
                                <MudMenuItem Disabled="@(!context.Item.IsActive)" OnClick="@(() => OnResetPassword(context.Item))">@L["Reset Password"]</MudMenuItem>
                            }
                            @if (_canUnlock)
                            {
                                @if (context.Item.LockoutEnd is not null)
                                {
                                    <MudMenuItem OnClick="@(() => OnUnlock(context.Item))">@L["Unlock"]</MudMenuItem>
                                }                          
                            }                            
                        </MudMenu>
                    }
                    else
                    {
                        <MudButton Variant="Variant.Filled"
                        StartIcon="@Icons.Material.Filled.DoNotTouch" IconColor="Color.Secondary" Size="Size.Small"
                        Color="Color.Surface">
                            @ConstantString.NoAllowed
                        </MudButton>
                    }
                </CellTemplate>
            </TemplateColumn>
            <PropertyColumn Property="x => x.TenantId" Title="@L[_currentDto.GetMemberDescription(x => x.TenantName)]">
                <CellTemplate>
                    <div>
                        <MudText Typo="Typo.body2">@context.Item.TenantName</MudText>
                        <MudText Typo="Typo.body2" Class="mud-text-secondary">@context.Item.TenantId</MudText>
                    </div>
                </CellTemplate>
            </PropertyColumn>
            <PropertyColumn Property="x => x.UserName" Title="@L[_currentDto.GetMemberDescription(x => x.UserName)]">
                <CellTemplate>
                    <div class="d-flex align-items-center">
                        <MudBadge Color="@(IsOnline(context.Item.DisplayName) ? Color.Success : Color.Error)" Overlap="false" Dot="true" Bordered="true">
                            <MudAvatar>
                                @if (string.IsNullOrEmpty(context.Item.ProfilePictureDataUrl))
                                {
                                    @context.Item.UserName.First()
                                }
                                else
                                {
                                    <MudImage Src="@context.Item.ProfilePictureDataUrl"></MudImage>
                                }
                            </MudAvatar>
                        </MudBadge>
                        <div class="pl-3">
                            <MudText Class="ml-2 align-self-center">@context.Item.UserName</MudText>
                            <MudText Typo="Typo.body2" Class="ml-2 align-self-center mud-text-secondary">@context.Item.Email</MudText>
                        </div>
                    </div>
                </CellTemplate>
            </PropertyColumn>
            <PropertyColumn Property="x => x.Email" Title="@L["Display Name / PhoneNumber"]">
                <CellTemplate>
                    <div class="d-flex flex-column">
                        <MudText Typo="Typo.body2">@context.Item.DisplayName</MudText>
                        <MudText Typo="Typo.body2" Class="mud-text-secondary">@context.Item.PhoneNumber</MudText>
                    </div>
                </CellTemplate>
            </PropertyColumn>
            <PropertyColumn Property="x => x.SuperiorId" Title="@L[_currentDto.GetMemberDescription(x => x.SuperiorName)]">
                <CellTemplate>
                    @context.Item.SuperiorName
                </CellTemplate>
            </PropertyColumn>
            <PropertyColumn Sortable="false" Property="x => x.AssignedRoles" Title="@L[_currentDto.GetMemberDescription(x => x.AssignedRoles)]">
                <CellTemplate>
                    @if (context.Item.AssignedRoles is not null)
                    {
                        foreach (var str in context.Item.AssignedRoles)
                        {
                            <MudChip Size="Size.Small" Variant="Variant.Text">@str</MudChip>
                        }
                    }
                </CellTemplate>
            </PropertyColumn>
            <PropertyColumn Property="x => x.IsActive" Title="@L[_currentDto.GetMemberDescription(x => x.IsActive)]">
                <CellTemplate>                    
                    <div>
                        @if (context.Item.IsActive)
                        {
                            <MudChip Color="Color.Success" Size="Size.Small" Icon="@Icons.Material.Filled.CheckCircleOutline">@L["Active"]</MudChip>                        
                        }
                        else
                        {
                            <MudChip Class="flex-grow-0" Color="Color.Surface" Size="Size.Small" Icon="@Icons.Material.Filled.HighlightOff">@L["Inactive"]</MudChip>

                        }
                    </div>

                    @if (context.Item.LockoutEnd is not null)
                    {
                        <div>
                            <MudChip OnClick="@(() => OnUnlock(context.Item))" Class="flex-grow-0" Color="Color.Dark" Size="Size.Small" Icon="@Icons.Material.Filled.HighlightOff">@L["Locked"]</MudChip>
                        </div>
                    }
                </CellTemplate>
            </PropertyColumn>
        </Columns>
        <ChildRowContent>
            <MudCard Elevation="0" Class="d-flex flex-grow-0">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.body1">
                            <strong>Additional Information</strong>
                        </MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    @{
                        if(context.Open)
                        {
                            var notes = context.Item.Notes;

                            <MudSimpleTable Hover="true" Bordered="true" Striped>
                                <thead>
                                    <tr>
                                        <th>@L["Call Reference"]</th>
                                        <th>@L["Message"]</th>
                                        <th>@L["Created By"]</th>
                                        <th>@L["Created Date"]</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var note in notes.OrderByDescending(x => x.Created))
                                    {
                                        <tr>
                                            <td>@(note.CallReference ?? "None")</td>
                                            <td>@note.Message</td>
                                            <td>@(UserService.DataSource.SingleOrDefault(x => x.Id == note.CreatedBy)?.DisplayName ?? "Unknown")</td>
                                            <td>
                                                @note.Created?.ToLocalTime()
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </MudSimpleTable>
                        }
                    }
                </MudCardContent>
            </MudCard>
        </ChildRowContent>
        <PagerContent>
            <MudDataGridPager PageSizeOptions="@([10, 15, 30, 50, 100, 500, 1000])"/>
        </PagerContent>
    </MudDataGrid>
}

<PermissionsDrawer OnAssignAllChanged="OnAssignAllChangedHandler" Waiting="@_processing" OnOpenChanged="OnOpenChangedHandler" Open="_showPermissionsDrawer" Permissions="_permissions" OnAssignChanged="OnAssignChangedHandler"></PermissionsDrawer>