
@inject IStringLocalizer<HeaderMenu> L

<MudTooltip Arrow="true" Text="@L["Workspace Menu"]">
    <MudMenu AnchorOrigin="Origin.BottomRight"
             Class="mx-1"
             TransformOrigin="Origin.TopRight">
            <ActivatorContent>
                <MudIconButton
                    Icon="@Icons.Material.Filled.Workspaces"
                    Style="color:white;"
                    OnClick="@context.ToggleAsync">
                </MudIconButton>
            </ActivatorContent>
            <ChildContent>
                <div class="pb-3" style="min-width: 260px;margin-bottom:0px!important">
                    <MudMenuItem Href="/pages/workspace/participants">
                        <MudStack Row="true" AlignItems="AlignItems.Center">
                            <MudIcon 
                                Icon="@Icons.Material.Filled.PeopleOutline"
                                Color="Color.Info" />
                            <MudText>@L["Participants"]</MudText>
                        </MudStack>
                    </MudMenuItem>
                    <MudMenuItem Href="/pages/workspace/provider">
                        <MudStack Row="true" AlignItems="AlignItems.Center">
                            <MudIcon 
                                Icon="@Icons.Material.Filled.ControlPointDuplicate"
                                Color="Color.Info" />
                            <MudText>@L["Providers"]</MudText>
                        </MudStack>
                    </MudMenuItem>
                    <MudMenuItem Href="/pages/workspace/servicedesk">
                        <MudStack Row="true" AlignItems="AlignItems.Center">
                            <MudIcon 
                                Icon="@Icons.Material.Filled.MiscellaneousServices"
                                Color="Color.Info" />
                            <MudText>@L["Service Desk"]</MudText>
                        </MudStack>
                    </MudMenuItem>
                    <MudMenuItem Href="/pages/workspace/performance">
                        <MudStack Row="true" AlignItems="AlignItems.Center">
                            <MudIcon 
                                Icon="@Icons.Material.Filled.BugReport"
                                Color="Color.Info" />
                            <MudText>@L["Performance"]</MudText>
                        </MudStack>
                    </MudMenuItem>
                    <MudMenuItem Href="/pages/workspace/administration">
                        <MudStack Row="true" AlignItems="AlignItems.Center">
                            <MudIcon 
                                Icon="@Icons.Material.Filled.AdminPanelSettings"
                                Color="Color.Info" />
                            <MudText>@L["Administration"]</MudText>
                        </MudStack>
                    </MudMenuItem>


                </div>
            </ChildContent>
    </MudMenu>

</MudTooltip>