@using Cfo.Cats.Application.Features.Activities.DTOs
@using Cfo.Cats.Application.Features.Activities.Queries
@using Cfo.Cats.Application.SecurityConstants
@using Humanizer

@inherits CatsComponentBase;

@inject IStringLocalizer<PQA> L

@attribute [Authorize(Policy = SecurityPolicies.Qa1)]

<MudDataGrid ServerData="@(ServerReload)"
             FixedHeader="true"
             FixedFooter="true"
             Virtualize="true"
             @bind-RowsPerPage="_defaultPageSize"
             Height="calc(100vh - 330px)"
             Loading="@_loading"
             MultiSelection="true"
             @bind-SelectedItem="_currentDto"
             Hover="true"
             @ref="_table"
             Breakpoint="Breakpoint.Sm"
			 Striped="true"
			 Dense="true"
             ExpandSingleRow="true">
    <ToolBarContent>
        <div class="d-flex align-start flex-grow-1">
            <div class="d-flex gap-4">
                <MudIcon Icon="@Icons.Material.Filled.Checklist" Size="Size.Medium" Color="Color.Primary" />
                First Pass
            </div>
            <div class="flex-grow-1"></div>
            <div class="d-flex flex-column justify-end">
                <div class="d-flex">
                    <MudHidden Breakpoint="Breakpoint.SmAndDown">
                        <MudButton Variant="Variant.Filled"
                                   Size="Size.Small"
                                   Disabled="@_loading"
                                   OnClick="@(() => OnRefresh())"
                                   StartIcon="@Icons.Material.Filled.Refresh" 
                                   Color="Color.Secondary">
                            @ConstantString.Refresh
                        </MudButton>
                    </MudHidden>
                    <MudHidden Breakpoint="Breakpoint.SmAndDown" Invert="true">

                    </MudHidden>
                </div>
                <MudTextField T="string" ValueChanged="@(OnSearch)" Value="@Query.Keyword" Placeholder="@ConstantString.Search" Adornment="Adornment.End"
                              AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Small">
                </MudTextField>
            </div>
        </div>
    </ToolBarContent>
    <Columns>
        <HierarchyColumn T="ActivityQueueEntryDto" />
        <PropertyColumn Property="x => x.ParticipantName" Title="@L["Participant"]">
            <CellTemplate>
                <div class="d-flex flex-column">
                    <MudText Typo="Typo.body2">@context.Item.ParticipantName</MudText>                    
                    <MudText Typo="Typo.body2">@context.Item.ParticipantId</MudText>
                </div>
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.Activity" Title="@L["Activity"]" Sortable="false">
            <CellTemplate>
                <div class="d-flex flex-column">
                    <MudText Typo="Typo.body2">@context.Item.Activity.Definition.Category.Name</MudText>
                </div>
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.SupportWorker" Title="@L["Support Worker"]">
            <CellTemplate>
                <div class="d-flex flex-column">
                    <MudText Typo="Typo.body2">@context.Item.SupportWorker</MudText>
                   
                </div>
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.TenantId" Title="@L["Tenant"]">
            <CellTemplate>
                <div class="d-flex flex-column">
                    <MudText Typo="Typo.body2">@context.Item.TenantName</MudText>
                    <MudText Typo="Typo.body2">@context.Item.TenantId</MudText>
                </div>
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.CommencedOn" Title="@L["Commenced on"]">
            <CellTemplate>
                <div class="d-flex flex-column">
                    <MudText Typo="Typo.body2">
                        @context.Item.CommencedOn.Date.ToString("d")
                    </MudText>
                    <MudText Typo="Typo.body2">
                        @context.Item.CommencedOn.Date.Humanize()
                    </MudText>
                </div>
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.Created" Title="@L["Submitted"]">
            <CellTemplate>
                <div class="d-flex flex-column">
                    <MudText Typo="Typo.body2">
                        @context.Item.Created.Date.ToString("d")
                    </MudText>
                    <MudText Typo="Typo.body2">
                        @context.Item.Created.Humanize()
                    </MudText>
                </div>
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.Expiry" Title="@L["Expiry"]">
            <CellTemplate>
                <MudTooltip Text="Must be processed up to 3 months after completion">
                    @if (context.Item.Expiry < DateTime.Today)
                    {
                        <MudText Typo="Typo.body2">Expired</MudText>
                    }
                    else
                    {
                        <div class="d-flex flex-column">
                            <MudText Typo="Typo.body2">
                                @context.Item.Expiry.Date.ToString("d")
                            </MudText>
                            <MudText Typo="Typo.body2">
                                @if (context.Item.Expiry == DateTime.Today)
                                {
                                    @("Today")
                                }
                                else
                                {
                                    @context.Item.Expiry.Humanize()
                                }
                            </MudText>
                        </div>
                    }
                </MudTooltip>
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.AssignedTo" Title="@L["Assigned To"]">
            <CellTemplate>
                <div class="d-flex flex-column">
                    <MudText Typo="Typo.body2">@context.Item.AssignedTo</MudText>
                </div>
            </CellTemplate>
        </PropertyColumn>
        <TemplateColumn Title="@ConstantString.Actions" Sortable="false">
            <CellTemplate>
                <MudMenu Icon="@Icons.Material.Filled.Edit" Variant="Variant.Filled" Size="Size.Small"
                         Dense="true"
                         EndIcon="@Icons.Material.Filled.KeyboardArrowDown" IconColor="Color.Info" AnchorOrigin="Origin.CenterLeft">
                    <MudMenuItem OnClick="@(() => ViewParticipant(context.Item))">
                        @ConstantString.View Participant
                    </MudMenuItem>

                </MudMenu>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
    <ChildRowContent>
        <QaNotesDropdown ActivityId="@context.Item.ActivityId" />
    </ChildRowContent>
    <NoRecordsContent>
        <MudText>@ConstantString.NoRecords</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>@ConstantString.Loading</MudText>
    </LoadingContent>
    <PagerContent>
        <MudDataGridPager PageSizeOptions="@(new[] { 10, 15, 30, 50 })" />
    </PagerContent>
</MudDataGrid>