@using Cfo.Cats.Application.Features.Identity.DTOs
@using Cfo.Cats.Application.SecurityConstants
@using Cfo.Cats.Server.UI.Components.Dashboard
@using Cfo.Cats.Server.UI.Components.Users
@using Cfo.Cats.Server.UI.Pages.Dashboard.Components
@using Cfo.Cats.Application.Common.Interfaces.MultiTenant

@page "/pages/dashboard/tenant"
@attribute [Authorize(Policy = SecurityPolicies.AuthorizedUser)]
@inject ITenantService TenantsService


<MudStack Row="true" Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center">
    <MudText Typo="Typo.h3">
        Tenant Dashboard
    </MudText>
        
    <MudAlert Severity="Severity.Warning" Variant="Variant.Outlined">
        This page is still under development and may produce inaccurate results.
    </MudAlert>
    
    <MudStack Row="true" AlignItems="AlignItems.Center">
		@if (CurrentUser.AssignedRoles is not [])
		{
			<MudLink OnClick="DisplayOptionsDialog" Disabled="@(CurrentUser.AssignedRoles is [])">
				@SelectedDisplayName
			</MudLink>
		}
		<MudSwitch @bind-Value="_visualMode"
				   T="bool"
				   ThumbIcon="@Icons.Material.Filled.StackedBarChart"
				   Color="Color.Primary">
			Visual Mode
		</MudSwitch>
	</MudStack>
</MudStack>



<MudStack>
	@if(SelectedTenantId is null)
    {
        <MudAlert Severity="Severity.Info" Variant="Variant.Outlined">
            Please select a Tenant.
        </MudAlert>
    }

    @if (SelectedTenantId is not null)
    {
        <MudTabs PanelClass="pa-1" ApplyEffectsToContainer="true" Outlined="true" Color="Color.Info">
            <MudTabPanel Text="Case Management" Icon="@Icons.Material.Filled.People">
                <MudTabs Outlined="true">
                    <MudTabPanel Text="Location Breakdown" Class="pa-3">
                        <CasesPerLocationDashboardComponent TenantId="@SelectedTenantId" @key="@SelectedTenantId" VisualMode="@_visualMode" />
                    </MudTabPanel>
                    <MudTabPanel Text="Pathway Plan Reviews" Class="pa-3">
                        <PathwayPlanReviewDashboardComponent TenantId="@SelectedTenantId" @key="@SelectedTenantId" VisualMode="@_visualMode"/>
                    </MudTabPanel>    
                </MudTabs>
            </MudTabPanel>
            <MudTabPanel Text="Performance" Icon="@Icons.Material.Filled.Score">
                <div style="max-width: 640px;">
                    <MudDateRangePicker @ref="_picker" Label="Date Range" DateFormat="dd MMM yyyy" TitleDateFormat="MMMM dd" @bind-DateRange="@_dateRange" MaxDate="DateTime.Today" MinDate="@(new DateTime(2025, 1, 1))" Class="pa-2">
                        <PickerActions>
                            <MudButton Color="Color.Secondary" Variant="Variant.Outlined" StartIcon="@Icons.Material.Filled.Cancel" OnClick="@(() => _picker.CloseAsync(false))">Cancel</MudButton>
                            <MudButton Color="Color.Primary" Variant="Variant.Outlined" StartIcon="@Icons.Material.Filled.CheckCircle" OnClick="@(() => _picker.CloseAsync())">OK</MudButton>
                        </PickerActions>
                    </MudDateRangePicker>    
                </div>
                <MudTabs Outlined="true">
                    <MudTabPanel Text="Enrolments" Class="pa-3">
                        <EnrolmentDashboardComponent DateRange="@_dateRange" TenantId="@SelectedTenantId" @key="SelectedTenantId + (_dateRange.Start?.Ticks ?? 0) + (_dateRange.End?.Ticks ?? 0)" VisualMode="@_visualMode" />
                    </MudTabPanel>
                    <MudTabPanel Text="Inductions" Class="pa-3">
                        <InductionDashboardComponent DateRange="@_dateRange" TenantId="@SelectedTenantId" @key="SelectedTenantId + (_dateRange.Start?.Ticks ?? 0) + (_dateRange.End?.Ticks ?? 0)" VisualMode="@_visualMode" />
                    </MudTabPanel>
                    <MudTabPanel Text="Support &amp; Referral" Class="pa-3">
                        <SupportAndReferralDashboardComponent DateRange="@_dateRange" TenantId="@SelectedTenantId" @key="SelectedTenantId + (_dateRange.Start?.Ticks ?? 0) + (_dateRange.End?.Ticks ?? 0)" VisualMode="@_visualMode" />
                    </MudTabPanel>
                    <MudTabPanel Text="Activities" Class="pa-3">
                        <PaidActivityComponent DateRange="@_dateRange" TenantId="@SelectedTenantId" @key="SelectedTenantId + (_dateRange.Start?.Ticks ?? 0) + (_dateRange.End?.Ticks ?? 0)" VisualMode="@_visualMode" />
                    </MudTabPanel>
                    <MudTabPanel Text="Education &amp; Training" Class="pa-3">
                        <EducationAndTrainingDashboardComponent DateRange="@_dateRange" TenantId="@SelectedTenantId" @key="SelectedTenantId + (_dateRange.Start?.Ticks ?? 0) + (_dateRange.End?.Ticks ?? 0)" VisualMode="@_visualMode" />
                    </MudTabPanel>
                    <MudTabPanel Text="Employment" Class="pa-3">
                        <EmploymentDashboardComponent DateRange="@_dateRange" TenantId="@SelectedTenantId" @key="SelectedTenantId + (_dateRange.Start?.Ticks ?? 0) + (_dateRange.End?.Ticks ?? 0)" VisualMode="@_visualMode" />
                    </MudTabPanel>
                    <MudTabPanel Text="Reassessments" Class="pa-3">
                        <ReassessmentDashboardComponent DateRange="@_dateRange" TenantId="@SelectedTenantId" @key="SelectedTenantId + (_dateRange.Start?.Ticks ?? 0) + (_dateRange.End?.Ticks ?? 0)" VisualMode="@_visualMode" />
                    </MudTabPanel>
                </MudTabs>
            </MudTabPanel>
        </MudTabs>
        
        
		
    }
    
</MudStack>
