@inherits CatsComponentBase

@if (_loading)
{
    <MudLoading Text="Fetching queue summary..." />
}
else
{
    @if (ShowActivities)
    {
        <MudText Typo="Typo.h6" Class="pt-2 px-2">Activities</MudText>
        <MudList T="string" ReadOnly="false" Class="pa-2">
            @if (CanViewFirstPass)
            {
                <MudListItem T="string" Icon="@Icons.Material.Filled.ListAlt" OnClick="@(() => ViewQueue("Activities|First Pass"))">
                    <MudStack Row="true" Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center" Style="width:100%">
                        <MudStack Spacing="0">
                            <MudText Typo="Typo.body1">First Pass</MudText>
                            <MudText Typo="Typo.h6" Color="@GetCountColor(_activityQa1Count)">@_activityQa1Count</MudText>
                        </MudStack>
                        <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="2">
                            <div @onclick:stopPropagation="true">
                                <MudButton OnClick="@GrabActivityQa1"
                                           StartIcon="@Icons.Material.Filled.QueuePlayNext"
                                           Variant="Variant.Filled"
                                           Color="Color.Primary"
                                           Disabled="@_grabbing">
                                    Get Next
                                </MudButton>
                            </div>
                        </MudStack>
                    </MudStack>
                </MudListItem>
            }

            @if (CanViewSecondPass)
            {
                <MudListItem T="string" Icon="@Icons.Material.Filled.ListAlt" OnClick="@(() => ViewQueue("Activities|Second Pass"))">
                    <MudStack Row="true" Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center" Style="width:100%">
                        <MudStack Spacing="0">
                            <MudText Typo="Typo.body1">Second Pass</MudText>
                            <MudText Typo="Typo.h6" Color="@GetCountColor(_activityQa2Count)">@_activityQa2Count</MudText>
                        </MudStack>
                        <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="2">
                            <MudText Typo="Typo.h6" Color="@GetCountColor(_activityQa2Count)">@_activityQa2Count</MudText>
                            <div @onclick:stopPropagation="true">
                                <MudButton OnClick="@GrabActivityQa2"
                                           StartIcon="@Icons.Material.Filled.QueuePlayNext"
                                           Variant="Variant.Filled"
                                           Color="Color.Primary"
                                           Disabled="@_grabbing">
                                    Get Next
                                </MudButton>
                            </div>
                        </MudStack>
                    </MudStack>
                </MudListItem>
            }

            @if (CanViewEscalation)
            {
                <MudListItem T="string" Icon="@Icons.Material.Filled.ListAlt" OnClick="@(() => ViewQueue("Activities|Escalation"))">
                    <MudStack Row="true" Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center" Style="width:100%">
                        <MudStack Spacing="0">
                            <MudText Typo="Typo.body1">Escalation</MudText>
                            <MudText Typo="Typo.h6" Color="@GetCountColor(_activityEscalationCount)">@_activityEscalationCount</MudText>
                        </MudStack>
                    </MudStack>
                </MudListItem>
            }
        </MudList>
    }
        
    @if (ShowEnrolments)
    {
        <MudText Typo="Typo.h6" Class="pt-2 px-2">Enrolments</MudText>
        <MudList T="string" ReadOnly="false" Class="pa-2">
            @if (CanViewFirstPass)
            {
                <MudListItem T="string" Icon="@Icons.Material.Filled.ListAlt" OnClick="@(() => ViewQueue("Enrolments|First Pass"))">
                    <MudStack Row="true" Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center" Style="width:100%">
                        <MudStack Spacing="0">
                            <MudText Typo="Typo.body1">First Pass</MudText>
                            <MudText Typo="Typo.h6" Color="@GetCountColor(_enrolmentQa1Count)">@_enrolmentQa1Count</MudText>
                        </MudStack>
                        <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="2">
                            <div @onclick:stopPropagation="true">
                                <MudButton OnClick="@GrabEnrolmentQa1"
                                           StartIcon="@Icons.Material.Filled.QueuePlayNext"
                                           Variant="Variant.Filled"
                                           Color="Color.Primary"
                                           Disabled="@_grabbing">
                                    Get Next
                                </MudButton>
                            </div>
                        </MudStack>
                    </MudStack>
                </MudListItem>
            }

            @if (CanViewSecondPass)
            {
                <MudListItem T="string" Icon="@Icons.Material.Filled.ListAlt" OnClick="@(() => ViewQueue("Enrolments|Second Pass"))">
                    <MudStack Row="true" Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center" Style="width:100%">
                        <MudStack Spacing="0">
                            <MudText Typo="Typo.body1">Second Pass</MudText>
                            <MudText Typo="Typo.h6" Color="@GetCountColor(_enrolmentQa2Count)">@_enrolmentQa2Count</MudText>
                        </MudStack>
                        <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="2">
                            <div @onclick:stopPropagation="true">
                                <MudButton OnClick="@GrabEnrolmentQa2"
                                           StartIcon="@Icons.Material.Filled.QueuePlayNext"
                                           Variant="Variant.Filled"
                                           Color="Color.Primary"
                                           Disabled="@_grabbing">
                                    Get Next
                                </MudButton>
                            </div>
                        </MudStack>
                    </MudStack>
                </MudListItem>
            }

            @if (CanViewEscalation)
            {
                <MudListItem T="string" Icon="@Icons.Material.Filled.ListAlt" OnClick="@(() => ViewQueue("Enrolments|Escalation"))">
                    <MudStack Row="true" Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center" Style="width:100%">
                        <MudStack Spacing="0">
                            <MudText Typo="Typo.body1">Escalation</MudText>
                            <MudText Typo="Typo.h6" Color="@GetCountColor(_enrolmentEscalationCount)">@_enrolmentEscalationCount</MudText>
                        </MudStack>
                        <MudText Typo="Typo.h6" Color="@GetCountColor(_enrolmentEscalationCount)">@_enrolmentEscalationCount</MudText>
                    </MudStack>
                </MudListItem>
            }
        </MudList>
    }

}