@page "/pages/participants/transfers"

@using Cfo.Cats.Application.Features.Transfers.Commands
@using Cfo.Cats.Application.Features.Transfers.DTOs
@using Cfo.Cats.Application.Features.Transfers.Queries
@using Cfo.Cats.Application.SecurityConstants
@using Cfo.Cats.Server.UI.Pages.Transfers.Components

@inherits CatsComponentBase

@attribute [Authorize(Policy = SecurityPolicies.UserHasAdditionalRoles)]

<MudText Typo="Typo.h2">Incoming Transfers</MudText>
<MudSimpleTable>
    <thead>
        <tr>
            <th>Participant</th>
            <th>Occurred</th>
            <th>From</th>
            <th>To</th>
            <th>Type</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var transfer in incomingTransfers.OrderByDescending(t => t.MoveOccured))
        {
            <tr>
                <td>@transfer.ParticipantId</td>
                <td>@transfer.MoveOccured.ToLocalTime().ToString("dd/MM/yyyy HH:mm")</td>
                <td>@transfer.FromLocation.Name (@transfer.FromLocation.LocationType.Name)</td>
                <td>@transfer.ToLocation.Name (@transfer.ToLocation.LocationType.Name)</td>
                <td>@transfer.TransferType.Name</td>
                <td>
                    <MudButton Color="Color.Primary" Variant="Variant.Filled" Size="Size.Small" OnClick="async() => await Process(transfer)">Process</MudButton>
                </td>
            </tr>
        }
    </tbody>
</MudSimpleTable>

<MudText Typo="Typo.h2">Outgoing Transfers</MudText>
<MudSimpleTable>
    <thead>
        <tr>
            <th>Participant</th>
            <th>Occurred</th>
            <th>From</th>
            <th>To</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transfer in outgoingTransfers.OrderByDescending(t => t.MoveOccured))
        {
            <tr>
                <td>@transfer.ParticipantId</td>
                <td>@transfer.MoveOccured.ToLocalTime().ToString("dd/MM/yyyy HH:mm")</td>
                <td>@transfer.FromLocation.Name (@transfer.FromLocation.LocationType.Name)</td>
                <td>@transfer.ToLocation.Name (@transfer.ToLocation.LocationType.Name)</td>
                <td>@transfer.TransferType.Name</td>
            </tr>
        }
    </tbody>
</MudSimpleTable>

@code {
    private List<IncomingTransferDto> incomingTransfers = [];
    private List<OutgoingTransferDto> outgoingTransfers = [];

    protected async override Task OnInitializedAsync()
    {
        incomingTransfers = await GetIncomingTransfers();
        outgoingTransfers = await GetOutgoingTransfers();

        await base.OnInitializedAsync();
    }

    private async Task<List<IncomingTransferDto>> GetIncomingTransfers()
    {
        var query = await GetNewMediator().Send(new GetIncomingTransfers.Query());
        return query.Data?.ToList() ?? [];
    }

    private async Task<List<OutgoingTransferDto>> GetOutgoingTransfers()
    {
        var query = await GetNewMediator().Send(new GetOutgoingTransfers.Query());
        return query.Data?.ToList() ?? [];
    }

    async Task Process(IncomingTransferDto incomingTransfer)
    {
        var command = new ProcessIncomingTransfer.Command()
        {
            IncomingTransfer = incomingTransfer
        };

        var parameters = new DialogParameters<ProcessTransferDialog>()
        {
            { x => x.Model, command }
        };

        var options = new DialogOptions { MaxWidth = MaxWidth.Small, FullWidth = true, CloseButton = true };
        var dialog = DialogService.Show<ProcessTransferDialog>("Process and Assign", parameters, options);

        var state = await dialog.Result;

        if (state!.Canceled is false)
        {
            var result = await GetNewMediator().Send(command);

            if (result.Succeeded)
            {
                dialog.Close();
            }

            // Remove dto from UI
            incomingTransfers.Remove(incomingTransfer);
        }
    }

}
