@using Cfo.Cats.Application.Features.Payments.DTOs
@using Size = MudBlazor.Size
@inherits CatsComponentBase

<style type="text/css">

    .centered {
    text-align: center;
    }

    .mud-table-head th {
    text-align: center;
    font-weight: bold;
    }

</style>


<MudGrid>
    @if (DataView)
    {
        <MudItem xs="12">
            <MudTable Items="@Payments"
            Hover="true"
            Breakpoint="Breakpoint.Sm"
            Loading="@_loading"
            LoadingProgressColor="Color.Info">
                <ToolBarContent>
                    <MudText Typo="Typo.h6">Activities</MudText>
                    <MudSpacer />
                    <MudStack Row="true">
                        <MudTextField @bind-Value="_searchString" @bind-Value:after="OnSearch" Placeholder="Search" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                        <MudButton Disabled="@_downloading"
                                   Variant="Variant.Filled"
                                   Color="Color.Primary"
                                   StartIcon="@Icons.Material.Filled.CloudDownload"
                                   Size="Size.Small"
                                   OnClick="OnExport"
                                   IconColor="Color.Surface">
                            @if (_downloading)
                            {
                                <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                                <MudText Class="ms-2"> @ConstantString.Downloading</MudText>
                            }
                            else
                            {
                                <MudText>@ConstantString.Export</MudText>
                            }
                        </MudButton>
                    </MudStack>
                </ToolBarContent>
                <HeaderContent>
                    @if (Contract is null)
                    {
                        <MudTh>Contract</MudTh>
                    }
                    <MudTh>Created</MudTh>
                    <MudTh>Approved</MudTh>
                    <MudTh>Submission To Authority</MudTh>
                    <MudTh>Participant</MudTh>
                    <MudTh>Location</MudTh>
                    <MudTh>Payable</MudTh>
                </HeaderContent>
                <GroupHeaderTemplate>
                    <MudTh Class="mud-table-cell-custom-group" colspan="6">@context.Key</MudTh>
                </GroupHeaderTemplate>
                <RowTemplate>
                    @if (Contract is null)
                    {
                        <MudTd DataLabel="Contract">
                            @context.Contract
                        </MudTd>
                    }
                    <MudTd DataLabel="Created">@context.CreatedOn.ToShortDateString()</MudTd>
                    <MudTd DataLabel="Approved">@(context.Approved.HasValue ? context.Approved.Value.ToShortDateString() : "")</MudTd>
                    <MudTd DataLabel="Submission To Authority">@context.SubmissionToAuthority.ToShortDateString()</MudTd>
                    <MudTd DataLabel="Participant">
                        <div class="d-flex flex-column">
                            <MudText Typo="Typo.body1">@context.ParticipantName</MudText>
                            <MudText Typo="Typo.body1">@context.ParticipantId</MudText>
                        </div>
                    </MudTd>
                    <MudTd DataLabel="Location">
                        <div class="d-flex flex-column">
                            <MudText Typo="Typo.body1">@context.Location</MudText>
                            <MudText Typo="Typo.body1">@context.LocationType</MudText>
                        </div>
                    </MudTd>
                    <MudTd DataLabel="Payable">
                        @if (context.EligibleForPayment)
                        {
                            @("Yes")
                        }
                        else
                        {
                            <MudTooltip Text="@context.IneligibilityReason">
                                No
                            </MudTooltip>
                        }
                    </MudTd>
                </RowTemplate>
                <PagerContent>
                    <MudTablePager/>
                </PagerContent>
            </MudTable>
        </MudItem>
    }
    else
    {
        <MudItem xs="12" md="6">
            @if(_loading is false)
            {
                <ApexChart TItem="EnrolmentPaymentSummaryDto"
                           Title="Enrolments By Contract"
                           Options="@Options">
                    <ApexPointSeries TItem="EnrolmentPaymentSummaryDto"
                                     Items="SummaryData"
                                     Name="Custody"
                                     SeriesType="SeriesType.Bar"
                                     XValue="e => e.Contract"
                                     YValue="e => e.Custody"
                                     ShowDataLabels="true" />

                    <ApexPointSeries TItem="EnrolmentPaymentSummaryDto"
                                     Items="SummaryData"
                                     Name="Community"
                                     SeriesType="SeriesType.Bar"
                                     XValue="e => e.Contract"
                                     YValue="e => e.Community"
                                     ShowDataLabels="true" />
                </ApexChart>
            }
        </MudItem>
        <MudItem xs="12" md="6">
            <MudTable Items="@SummaryData" 
            Hover="true" 
            Breakpoint="Breakpoint.Sm" 
            Loading="_loading" 
            LoadingProgressColor="Color.Info"
            Striped="true" 
            Bordered="true"
            HeaderClass="table-head-bordered"
            CustomHeader="true">
                <HeaderContent>
                    <MudTHeadRow Class="centered">
                        <MudTh>

                        </MudTh>
                        <MudTh colspan="3">
                            Custody
                        </MudTh>
                        <MudTh colspan="3">
                            Community
                        </MudTh>
                    </MudTHeadRow>
                    <MudTHeadRow Class="centered">
                        <MudTh>Contract</MudTh>
                        <MudTh>Ach</MudTh>
                        <MudTh>Tgt</MudTh>
                        <MudTh>%</MudTh>
                        <MudTh>Ach</MudTh>
                        <MudTh>Tgt</MudTh>
                        <MudTh>%</MudTh>
                    </MudTHeadRow>
                </HeaderContent>

                <RowTemplate>
                    <MudTd DataLabel="Contract">@context.Contract</MudTd>
                    <MudTd DataLabel="Custody" Class="centered">@context.Custody</MudTd>
                    <MudTd DataLabel="Target" Class="centered">@context.CustodyTarget</MudTd>
                    <MudTd DataLabel="Percentage" Class="centered">@context.CustodyPercentage</MudTd>
                    <MudTd DataLabel="Community" Class="centered">@context.Community</MudTd>
                    <MudTd DataLabel="Target" Class="centered">@context.CommunityTarget</MudTd>
                    <MudTd DataLabel="Percentage" Class="centered">@context.CommunityPercentage</MudTd>
                </RowTemplate>
            </MudTable>    
        </MudItem>
    }
</MudGrid>