@page "/pages/notifications"
@using Cfo.Cats.Domain.Common.Enums
@using Cfo.Cats.Server.UI.Pages.Notifications
@using Cfo.Cats.Application.SecurityConstants
@using Cfo.Cats.Application.Features.Notifications.DTOs
@using Cfo.Cats.Application.Features.Notifications.Queries
@using Cfo.Cats.Application.Features.Notifications.Specifications
@using Cfo.Cats.Application.Features.Notifications.Command
@using Humanizer

@inject IStringLocalizer<Notifications> L

@inherits CatsComponentBase


<PageTitle>@L["Notification"]</PageTitle>
@* <PageTitle>Notifications</PageTitle> *@
<style>
    .invisible {
    visibility: hidden;
    }
</style>

<MudDataGrid ServerData="@(ServerReload)"
             FixedHeader="true"
             FixedFooter="true"
             Virtualize="true"
             @bind-RowsPerPage="_defaultPageSize"
             Height="calc(100vh - 330px)"
             Loading="@_loading"
             MultiSelection="true"
             @bind-SelectedItem="_currentDto"
             Hover="true"
             @ref="_table">
    <ToolBarContent>
        <div class="d-flex align-start flex-grow-1">
            <div class="d-flex flex-column">
                <MudButton Variant="Variant.Outlined"
                           Size="Size.Small"
                           OnClick="@(() => OnShowNotificationButtonClick(Query.ShowReadNotifications))"
                           StartIcon="@Icons.Material.Filled.MoveDown" IconColor="Color.Surface" Color="Color.Primary"
                           Style="margin-right: 4px; margin-bottom:4px">
                    @ShowNotificationButtonLabel
                </MudButton>
            </div>
        </div>
        <div class="d-flex flex-column justify-end">                
            <div class="d-flex">
                <MudButton Variant="Variant.Outlined"
                            Size="Size.Small"
                            Disabled="@(SelectedReadNotifications.Any() == false || _loading)"
                           OnClick="@(() => MarkAsUnread())"
                            StartIcon="@Icons.Material.Filled.MoveDown" IconColor="Color.Surface" Color="Color.Primary"
                            Style="margin-right: 4px; margin-bottom:4px">
                    @ConstantString.MarkAsUnread
                </MudButton>   
                <MudHidden Breakpoint="Breakpoint.SmAndDown" Invert="true"></MudHidden>
                <MudButton Variant="Variant.Outlined"
                            Size="Size.Small"
                            Disabled="@(SelectedUnreadNotifications.Any() == false || _loading)"
                            OnClick="@(() => MarkAsRead())"
                            StartIcon="@Icons.Material.Filled.MoveDown" IconColor="Color.Surface" Color="Color.Primary"
                            Style="margin-right: 4px; margin-bottom:4px">
                    @ConstantString.MarkAsRead
                </MudButton>   
                <MudHidden Breakpoint="Breakpoint.SmAndDown" Invert="true"></MudHidden>
            </div>
        </div>
    </ToolBarContent>
    <Columns>
        <PropertyColumn Property="x => x.Id" Title="Select" Sortable="false">
            <CellTemplate>
                <MudCheckBox T="bool" @onclick="()=>OnNotificationCheckedChanged(context.Item)"></MudCheckBox>                
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.Heading" Title="Heading" Sortable="false">
            <CellTemplate>
                <div class="d-flex flex-column">
                    <MudText Typo="Typo.body2">
                        <MudLink Href="@context.Item.Link">
                            @context.Item.Heading
                        </MudLink>
                    </MudText>
                </div>
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.Details" Title="Details" Sortable="false">
            <CellTemplate>
                <div class="d-flex flex-column">
                    <MudText Typo="Typo.body2">@context.Item.Details</MudText>
                    <MudText Typo="Typo.body2">@(context.Item.ReadDate.HasValue ? string.Format("Read: {0}", context.Item.ReadDate.Humanize()) : string.Format("Notified: {0}", context.Item.NotificationDate.Humanize()))</MudText>
                </div>
            </CellTemplate>
        </PropertyColumn>
    </Columns>
    <NoRecordsContent>
        <MudText>@ConstantString.NoRecords</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>@ConstantString.Loading</MudText>
    </LoadingContent>
    <PagerContent>
        <MudDataGridPager PageSizeOptions="@(new[] { 10, 15, 30, 50 })" />
    </PagerContent>
</MudDataGrid>

@code {

    //[Inject]
    //public string? Title { get; private set; }
    private int _defaultPageSize = 15;

    private MudDataGrid<NotificationDto> _table = default!;
    private bool _loading;
    private string ShowNotificationButtonLabel = ConstantString.ShowReadNotification;

    private NotificationDto _currentDto = new() { Heading = "" };

    private NotificationsWithPaginationQuery.Query Query { get; set; } = new();

    [CascadingParameter] private Task<AuthenticationState> AuthState { get; set; } = default!;
    [CascadingParameter] private UserProfile? UserProfile { get; set; }

    private List<Guid> SelectedReadNotifications { get; set; } = new();
    private List<Guid> SelectedUnreadNotifications { get; set; } = new();

    private async Task<GridData<NotificationDto>> ServerReload(GridState<NotificationDto> state)
    {
        try
        {
            _loading = true;
            Query.CurrentUser = UserProfile;
            Query.OrderBy = state.SortDefinitions.FirstOrDefault()?.SortBy ?? "Created";
            Query.SortDirection = state.SortDefinitions.FirstOrDefault()?.Descending ?? true ? SortDirection.Descending.ToString() : SortDirection.Ascending.ToString();
            Query.PageNumber = state.Page + 1;
            Query.PageSize = state.PageSize;
            var result = await GetNewMediator().Send(Query).ConfigureAwait(false);
            return new GridData<NotificationDto> { TotalItems = result.TotalItems, Items = result.Items };
        }
        finally
        {
            _loading = false;
        }
    }
    private async Task MarkAsRead()
    {
        Result<bool>? result = false;
        try
        {
            result = await GetNewMediator().Send(new MarkAsRead.Command
            {
                CurrentUser = UserProfile,
                    NotificationsToMarkAsRead = SelectedUnreadNotifications.ToArray()
            });
        }
        finally
        {
            if(result is not { Succeeded: true })
            {
                Snackbar.Add(result?.ErrorMessage ?? "An unknown issue occurred when marking noticiation(s) as read", Severity.Error);
            }
            SelectedUnreadNotifications.Clear();
        }

        Navigation.NavigateTo($"/pages/notifications", true);
    }
    private async Task MarkAsUnread()
    {
        Result<bool>? result = false;
        try
        {
            result = await GetNewMediator().Send(new MarkAsUnread.Command
            {
                CurrentUser = UserProfile,
                    NotificationsToMarkAsUnread = SelectedReadNotifications.ToArray()
            });
        }
        finally
        {
            if(result is not { Succeeded: true })
            {
                Snackbar.Add(result?.ErrorMessage ?? "An unknown issue occurred when marking noticiation(s) as unread", Severity.Error);
            }
            SelectedReadNotifications.Clear();
        }

        Navigation.NavigateTo($"/pages/notifications", true);
    }

    private void OnNotificationCheckedChanged(NotificationDto notification)
    {

        if (notification.ReadDate.HasValue)
        {
            if (!SelectedReadNotifications.Remove(notification.Id))
            {
                SelectedReadNotifications.Add(notification.Id);
            }
        }
        else
        {
            if (!SelectedUnreadNotifications.Remove(notification.Id))
            {
                SelectedUnreadNotifications.Add(notification.Id);
            }
        }

    }
    private async Task OnShowNotificationButtonClick(bool value)
    {
        //toggle ShowReadNotifications
        Query.ShowReadNotifications = !value;

        SelectedUnreadNotifications.Clear();
        SelectedReadNotifications.Clear();
        
        ShowNotificationButtonLabel = Query.ShowReadNotifications ? ConstantString.ShowUnreadNotification : ConstantString.ShowReadNotification;
        await _table.ReloadServerData();

    }

}