@page "/pages/authentication/login"


@using Cfo.Cats.Application.Features.Identity.Notifications.IdentityEvents
@using Microsoft.AspNetCore.Authentication
@using Cfo.Cats.Domain.Identity
@using Cfo.Cats.Application.Common.Interfaces.Identity
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.WebUtilities
@using System.Text
@using Cfo.Cats.Application.Features.Identity.Notifications.SendTwoFactorCode
@using Cfo.Cats.Infrastructure.Services
@using static Cfo.Cats.Infrastructure.Services.Identity.CustomSigninManager

@inject ILogger<Login> Logger
@inject UserManager<ApplicationUser> UserManager
@inject IIdentityService IdentityService
@inject IStringLocalizer<Login> L
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityRedirectManager RedirectManager
@inject IMediator Sender
@inject INetworkIpProvider NetworkIpProvider


<PageTitle>@title</PageTitle>

<MudPaper Elevation="3" Class="pa-4">
    <MudGrid Spacing="6" Justify="Justify.Center" Class="pa-4">
        <MudItem xs="12" md="6">
            <MudText Typo="Typo.h4" Align="Align.Center" Color="Color.Primary">WARNING</MudText>
            <MudText Typo="Typo.body1" Class="mt-2">
                This system is owned by the Ministry of Justice and is protected by appropriate security protocols. Do not proceed if you are not an authorised user of this system and you should not access this system outside of England or Wales.
            </MudText>
            <MudText Typo="Typo.body1" Class="mt-2">
                Any attempt to use it in a manner not authorised by the HMPPS CFO Lead Manager (ICT) or any attempt to alter, destroy or damage any information or personal information contained within this system may constitute a breach of the provisions of the Computer Misuse Act 1990 and/or other legislation and shall leave the user liable to both criminal and civil proceedings.
            </MudText>
            <MudText Typo="Typo.body1" Class="mt-2">
                It is strictly forbidden to attempt to access any IT asset on this network using any third party's logon identity.
            </MudText>
            <MudText Typo="Typo.body1" Class="mt-2">
                All authorised users must comply with defined policies and procedures including the CATS User Security Operating Procedures (SyOPs).                             
            </MudText>
            <MudText Typo="Typo.body1" Class="mt-2">
                Anyone using this computer facility consents to active monitoring by the system managers and this information may be requested and used by the nominated ATA contact for your contracted delivery, for purposes they deem appropriate.                       
            </MudText>
            <MudText Typo="Typo.body1" Class="mt-2">
                By continuing to use the website, you are hereby notified that strictly necessary cookies to manage authentication and to ensure content is personalised appropriately are stored on your computer.                      
            </MudText>

        </MudItem>
        <MudItem xs="12" md="6" Class="pa-4">
            <div class="d-flex justify-center">
                <MudImage Src="/img/cfo-burgundy-logo.svg" alt="logo" style="max-width: 128px;"/>
            </div>
            <div class="d-flex justify-center">
                <MudText Typo="Typo.h4" Color="Color.Primary" Align="Align.Center">Welcome to CATS</MudText>
            </div>
            <EditForm Model="Input" method="post" OnValidSubmit="OnSubmit" FormName="login">
                <DataAnnotationsValidator />
                <MudText Typo="Typo.h4" GutterBottom="true">@L["Sign In"]</MudText>
                <StatusMessage Message="@errorMessage" Error="true" />
                <div class="mud-input-control mud-input-input-control my-4">
                    <div class="mud-input-control-input-container">
                        <!--!--><!--!-->
                        <div class="mud-input mud-input-outlined mud-shrink">
                            <InputText @bind-Value="Input.UserName" class="mud-input-slot mud-input-root mud-input-root-outlined" type="text" autocomplete="username" aria-required="true" placeholder="user name" />
                            <div class="mud-input-slot mud-input-root mud-input-root-outlined" style="display:none"></div>
                            <!--!-->
                            <div class="mud-input-outlined-border"></div>
                        </div>
                        <!--!-->
                    </div>
                    <div class="mud-input-helper-text mud-input-error">
                        <div class="d-flex">
                            <ValidationMessage For="() => Input.UserName" class="mud-input-error" />
                        </div>
                    </div>
                </div>
                <div class="mud-input-control mud-input-input-control my-4">
                    <div class="mud-input-control-input-container">
                        <!--!--><!--!-->
                        <div class="mud-input mud-input-outlined mud-shrink">
                            <InputText type="password" @bind-Value="Input.Password" class="mud-input-slot mud-input-root mud-input-root-outlined" autocomplete="off" aria-required="true" placeholder="password" />
                            <div class="mud-input-slot mud-input-root mud-input-root-outlined" style="display:none"></div>
                            <!--!-->
                            <div class="mud-input-outlined-border"></div>
                        </div>
                        <!--!-->
                    </div>
                    <div class="mud-input-helper-text mud-input-error">
                        <div class="d-flex">
                            <ValidationMessage For="() => Input.Password" class="mud-input-error" />
                        </div>
                    </div>
                </div>
                <div Class="d-flex justify-space-between align-center mb-1">
                    <MudLink Href="@Forgot.PageUrl">@L["Forgot password?"]</MudLink>
                </div>
            
                <MudButton Variant="Variant.Filled"
                           Color="Color.Primary"
                           ButtonType="ButtonType.Submit"
                           StartIcon="@Icons.Material.Filled.Login">
                    <MudText>@L["Sign In"]</MudText>
                </MudButton>
            </EditForm>

            <MudDivider Class="my-4" />

            <MudStack AlignItems="AlignItems.Center" Spacing="2">
                @* https://learn.microsoft.com/en-us/entra/identity-platform/howto-add-branding-in-apps *@
                <MudButton Class="microsoft-signin" Variant="Variant.Outlined" Color="Color.Dark" Href="@($"/external-login?provider=MicrosoftEntraID&returnUrl={@Uri.EscapeDataString(ReturnUrl ?? "/")}")">
                    <div class="d-flex align-center gap-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21"><title>MS-SymbolLockup</title><rect x="1" y="1" width="9" height="9" fill="#f25022"/><rect x="1" y="11" width="9" height="9" fill="#00a4ef"/><rect x="11" y="1" width="9" height="9" fill="#7fba00"/><rect x="11" y="11" width="9" height="9" fill="#ffb900"/></svg>
                        <MudText>@string.Format(ConstantString.SigninWith, "Microsoft")</MudText>
                    </div>
                </MudButton>
                
                <MudButton Class="hmpps-signin" Variant="Variant.Outlined" Href="@($"/external-login?provider=HmppsAuth&returnUrl={@Uri.EscapeDataString(ReturnUrl ?? "/")}")">
                    <div class="d-flex align-center gap-2">
                        <svg role="presentation" focusable="false" class="auth-header__logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 21" height="21" width="21" fill="#ffffff">
                            <path fill-rule="evenodd" d="M19.05 8.45c.05.9 1.1.65.95 1.35 0-.45-1.5-.4-1.5-1.3 0-.15.05-.35.15-.45-.05-.05-.1-.05-.25-.05-.3 0-.6.3-.6.65 0 1.1 1.5 1.3 1.5 2.55 0 .3-.1.5-.3.6.1 0 .35-.05.4-.15-.1.5-.6.5-.8.3h-.15c.1.2.2.4.45.35-.45.35-1-.1-.9-.6-.1-.15-.2-.35-.3-.45-.05-.1-.1-.05-.1.05 0 .4-.3.8-.3 1.05 0 .3.3.55.4.55s.15-.1.2-.1c.05.05.05.1.05.35 0 .1 0 .5.05.85 0-.1.1-.15.15-.2.1-.05.2-.1.35-.05.05 0 .15.05.15.1.05.05.05.1.05.15 0 .1-.1.2-.15.3-.1.05-.15.1-.3.05-.1 0-.15-.05-.2-.1v-.05.35c0 .3-.05.4-.15.45 0-.05-.1-.1-.15-.1-.05 0-.15.05-.15.1 0 .1.15.1.15.3s-.4.4-.65.4c.05-.1.1-.4.15-.55-.05.05-.15.15-.2.35s-.15.2-.3.15c.1-.1.3-.55.5-.65.2-.15.3-.2.35-.55.05-.35 0-.55 0-.85 0-.4-.15-.35-.3-.35-.3 0-1.3-.65-1.3-1.35v-.2c-.45 0-.75.1-.75.55 0 .15 0 .3.1.4.1.05.15.15 0 .2-.15.05-1.55.65-1.55.65-.15.05-.2 0-.3-.1-.05-.1-.15-.1-.2-.05-.1.05.05.1.05.2s-.05.35-.65.3l.15-.3c.05-.1.05-.15.05-.15-.05 0-.05.05-.1.15l-.15.2h-.2l.5-.5c.1-.1.3-.2.55-.2.35-.05 1.45-.2 1.45-.55 0-.4-.45-.4-.45-.95 0-.5.2-1 1.5-.95-.1-.35-.45-.55-.8-.6-.65-.15-.85-.6-.9-1.05h-.5c-.4 0-.6-.15-.75-.05-.05.05-.05.1 0 .15.05.1.15.35.3.5.05 0 .2 0 .2.1s-.05.1-.05.15 0 .1.05.1.05-.05.05-.1c.05-.05.15-.05.35 0 .1.1.3.3.35.5-.15-.05-.4-.15-.45-.15s-.05.05 0 .05.2.1.3.15v.15c-.05-.05-.35-.2-.55-.3-.15-.05-.3-.1-.4-.35-.1-.2-.4-.8-.5-.95-.05-.1-.05-.15 0-.2.05-.05.05-.1.1-.15.05-.1.1-.1.2-.1s.4 0 .5-.05c0 0 .05 0 .1-.05-.3-.3-.6-.7-.6-.8-.05-.05-.1-.1-.15-.1s-.1 0-.15.05l-.05.05c0-.05-.05-.05-.05-.1l-.15-.15c.1-.05.15-.15.2-.15.05-.05.1-.1.15-.1h.15c.1 0 .1 0 .15.05.1.1.3.2.4.35 0 0 .05 0 .05.05l.05-.05c.05-.05.1-.05.15-.05s.1.05.15.1.1.15.1.3v.1l.3.3c.05-.35.2-.7.45-1h-.05v-.05c.05-.15.1-.45.15-.55v-.15l.4.15.05-.05c.35-.35 1.15-.55 1.15-1.05 0-.1-.05-.3-.15-.4.05.05.05.15.05.3 0 .1-.2.4-.55.4-.15 0-.35-.15-.4-.15s-.1.05-.15.05c0 .2-.1.4-.15.4.05-.1 0-.3 0-.3-.05 0-.05.05-.05.2s-.1.35-.35.35c.05-.05.1-.3.05-.35-.05-.05-.1.05-.15.05s-.1-.05-.1-.1-.1 0-.1-.05.1-.15.2-.15c.1-.05.3-.1.3-.2-.05-.1-.45.05-.55.15-.2.15-.1-.05-.15-.1-.1-.2 0-.2.1-.35.1-.1.4-.35.75-.5 0-.1.05-.15.15-.2s.3-.1.4-.15l-1.9-2c-.05-.05-.05-.05 0-.1 0 0 .05 0 .1.05l2 1.95c.15-.3.2-.45.15-.65.2.1.45.35.5.6.6 0 .8.4.95.2 0 .1-.05.15-.3.2.75.15.5.65.9.7-.05.05-.15.1-.3.05.45.65 0 1.05.35 1.4-.1.05-.35-.05-.45-.3.1.55-.05.85.05 1.05-.15.05-.3-.1-.35-.3-.05.1-.05.2-.1.35l.15.05-.05.05c-.3.3-.4.45-.45.5l-.05.05-.05-.05c-.15.2-.35.4-.35.6s.3.65.6 1.05v-.1c0-.05.05-.15.1-.2.05-.05.1-.05.2-.05s.2.05.3.15c.05.1.1.15.1.3 0 .05-.05.15-.1.2-.05.05-.1.05-.2.05-.05 0-.15-.05-.2-.05.2.3.45.6.55.85.2.45.45.7.65.7.3 0 .55-.2.55-.55 0-1.15-1.5-1.3-1.5-2.6 0-.6.5-.9.85-.9.2 0 .35.05.45.15h.1c.75 0 .3.95.85 1-.15.25-.5.1-.65-.35zM15.15 5c.15-.1.4-.15.6-.15-.15-.05-.3-.15-.4-.15-.2-.05-.15.2-.2.3zm-1.35 2.75c0-.05 0-.15-.05-.15 0 0-.05-.05-.1-.05s-.05 0-.1.05-.05.1-.05.15c0 .1.05.2.15.2.05 0 .05 0 .1-.05 0 0 .05-.05.05-.15zm4.35 6.3v.1c.05.1.2.1.35 0 .05-.05.1-.1.1-.15v-.1c-.05-.05-.05-.05-.1-.05s-.15 0-.2.05c-.1.05-.15.1-.15.15zm-.95-4.15c0 .05.05.15.1.2.05.05.1.1.2.1.05 0 .05 0 .1-.05s.05-.05.05-.1-.05-.15-.1-.2c-.05-.05-.1-.1-.2-.1-.05 0-.05 0-.1.05s-.05.05-.05.1zm-.4-1.6c.15-.15.45-.5.45-.5l-.15-.15v.3c-.05-.05-.1-.1-.1-.15l-.1.15c.05 0 .15 0 .15.05-.1.1-.3.05-.35 0-.1-.1-.15-.15-.15-.2.05-.05.15-.05.2.05.1 0 .1-.1.1-.15-.05-.05-.1-.05-.15-.05.15-.1.3-.2.2-.45-.2.05-.3.15-.35.35 0-.05-.05-.15-.1-.15s-.15.05-.15.15c.1-.05.2.05.15.15-.05.05-.15.05-.3 0-.15-.2-.15-.3-.05-.45.05.05.05.1.05.2l.15-.3c-.05 0-.1.05-.15 0 .05-.05.1-.1.2-.15l-.35-.1c.05.1 0 .2 0 .3-.05-.05-.1-.1-.1-.15l-.15.3c.05-.05.15-.05.2-.05-.05.1-.2.15-.35.1-.1-.05-.15-.15-.15-.2.05-.05.15-.05.2.05.1-.05.1-.15.05-.2-.05-.05-.1-.05-.2 0 .15-.15.2-.3.15-.5-.15.05-.3.2-.3.4 0-.05-.05-.1-.1-.1s-.15.05-.1.15c.1-.05.2.05.15.15-.05.05-.1.05-.3 0-.1-.05-.2-.1-.15-.3.05 0 .1.1.15.1l.05-.2h-.15c.05-.05.15-.1.2-.15l-.2-.1s-.1.45-.2.65l2.1 1.15zm0 3.95c.05-.1.05-.3 0-.35-.1-.05-.2 0-.35.1-.05.1-.05.3 0 .35.05.05.25 0 .35-.1zm.55-.95c.05-.1.05-.3 0-.35-.1-.05-.2 0-.35.1-.05.1-.05.3 0 .35.15.05.3 0 .35-.1zM13.7 9c.1-.05.2 0 .35 0 .1.05.15.15.2.2v.2l-.15.15c-.1.05-.2 0-.35 0-.25-.05-.3-.2-.25-.4.05-.1.1-.15.2-.15zm.1.5c.05.05.15.05.2 0 .05 0 .05-.05.1-.05v-.1c0-.05-.05-.1-.15-.15-.05-.05-.15-.05-.2 0-.05 0-.05.05-.1.05-.05.05.05.15.15.25zm2.4 3.6c.05-.05.1-.1.2-.1s.15.05.2.1c.05.05.1.15.1.3 0 .1-.05.2-.1.3-.05.05-.1.1-.2.1-.05 0-.15-.05-.2-.1-.05-.05-.1-.15-.1-.3 0-.1 0-.25.1-.3zm.15.55c.05 0 .1 0 .1-.05.05-.05.05-.1.1-.2 0-.15-.05-.3-.15-.3-.05 0-.1 0-.1.05-.05.05-.05.1-.1.2 0 .1 0 .15.05.2.05.05.05.1.1.1zm-2.4-6.9c.1-.05.15-.1.3-.1.05 0 .1.05.15.1s.05.1.05.2-.05.15-.15.3c-.15.1-.4.1-.45 0-.05-.15 0-.3.1-.5zm0 .35v.1c.05.05.15.05.3 0 .05-.05.1-.1.1-.15v-.1c0-.05-.05-.05-.1-.05s-.1 0-.15.05c-.1 0-.15.1-.15.15zm2.85 6.85c.1-.05.2-.1.35-.05.2.05.4.2.35.4 0 .1-.05.15-.15.2-.05.05-.15.05-.3.05s-.15-.05-.3-.1c-.05-.05-.1-.15-.05-.3-.05-.1 0-.15.1-.2zm.2.45c.15 0 .3-.05.3-.15s-.1-.15-.2-.2c-.1 0-.15 0-.2.05 0 0-.05.05-.05.1-.1.05 0 .15.15.2zm1.65-.95c0-.3.2-.5.5-.5s.5.2.5.5-.2.5-.5.5c-.25 0-.5-.2-.5-.5zm.15 0c0 .2.15.4.4.4s.4-.15.4-.4c0-.2-.15-.4-.4-.4-.2.05-.4.25-.4.4zm-11.65-2.9c-.05.15.05.15.05.35 0 .15-.1.2-.3.3.1-.2 0-.35-.15-.4.05.4-.3.45-.4.4.1 0 .15-.2.1-.4-.05.1-.2.2-.35.2s-.2-.1-.3-.2c.15.1.3 0 .3-.1 0-.05-.15-.1-.15-.2 0-.3.3-.15.3-.4 0-.1-.05-.15-.1-.15s-.15.05-.15.15c-.15-.1 0-.45-.05-.6 0 .35-.2.3-.3.45-.1-.1 0-.35-.1-.6-.05.3-.15.2-.15.45-.3-.15-.85-.1-1 .1.5.4 1.1.6 1.1 1.2 0 .45-.75.65-.75.95 0 .3.75 1 1.1 1 .1 0 .15-.15.3-.15h.3c.1 0 .15.1.15.15.15 0 .4.3.15.5-.05-.1-.15-.3-.4-.15.1.2 0 .4-.2.5.05-.1.1-.3-.05-.3s0 .1-.35.1c-.3 0-.3 0-.4-.15-.1-.15-.2-.2-.3-.2s-.1.15 0 .3c-.6 0-.35-.6-.65-.8v.45c-.2-.25-.4-.45-.4-.65-.05-.15 0-.3-.15-.4-.05 0-.1-.05-.1-.15 0-.05.05-.05.15-.1.1-.05.3-.15.3-.5 0-.2-.05-.55-.45-.85.05.5 0 .95-.2 1.35-.3.5-.85.85-1.1.95-.3.1-.65.2-.65.6 0 .7.35 1.1.6 1.1.2 0 .15-.2.45-.2.1 0 .3.05.3.15.15-.05.35.05.35.2 0 .15-.05.2-.15.3.1-.2-.15-.2-.2-.2-.05.05 0 .1 0 .2s-.05.2-.2.3c.05-.05.05-.15-.1-.15-.1 0-.15.2-.35.2-.3 0-.35-.1-.6-.05-.15.05-.15.15-.1.15-.35 0-.3-.4-.2-.45.05-.05.1-.1 0-.2-.1-.05-.3 0-.35.15-.3-.55.1-.5 0-1.1-.05.3-.2.45-.35.5.05-.1-.05-.4-.05-.6 0-.45.3-.6.3-.7s-.1-.2 0-.3c.05-.05.15.05.3.05.35 0 .6-.45.65-1 .05-.6.35-1.05.55-1.5 0-.05 0-.15.05-.2-.3.35-.5.8-.85 1.05.05.4-.75.85-1.15.5.15 0 .4-.05.5-.3-.05 0-.1 0-.15-.05-.3.15-.65-.05-.65-.35.1.1.2.15.4.1.1-.05.05-.2.05-.4 0-1.15 1.8-1.95 1.8-2.9 0-.3-.15-.45-.4-.45-.1 0-.2.05-.35.1.1.05.15.15.15.3 0 1.05-1.75.95-1.85 1.65-.05-.9 1-.7 1.05-1.45-.2.35-.6.55-.85.45.55 0 .4-1.1 1-1.1.05 0 .1 0 .2.05.15-.15.4-.2.55-.2.3 0 .65.15.65.65 0 1.1-1.8 1.85-1.8 2.9 0 .35.2.5.5.5.6 0 1.05-1.1 1.75-2.05.45-.6.75-1.85 1-2.45-.35.2-.4.9-.8.95.2-.15.05-.7.2-1.15.05-.15.05-.3.05-.45-.2.3-.15 1.1-.55 1.2.15-.15 0-.45 0-.7 0-.5.3-.55.3-1.05-.2.1-.15.7-.6.7.35-.35 0-.65.4-1.05-.2-.1-.4-.3-.4-.45.15-.1.35-.15.5-.15-.15-.1-.1-.2 0-.35.05.1.1.15.15.15.15-.05.4-.3.75-.4.25-.1.65-.25.8-.25.05 0 .05-.1.05-.15.1 0 .3 0 .35.15.1-.1.3-.15.45-.15.1.2.1.4 0 .6.2 0 .35.2.55.15-.15.2-.4.15-.6.1.6.15.75.8 1.05.85-.6.35-.85-.15-1.15-.15.85.45.85.95 1.05.95-.3.2-.45-.05-.8-.15.65.45.65.8.6 1.05.15.1.1.3.1.5.1-.05.3-.1.4-.1-.05.05-.1.1-.1.15-.35.4-.55.7-.75 1.2-.15-.1-.3-.3-.4-.35-.1-.1-.3-.1-.35-.1.2.2.9 1 1.1 1.2.2.2.15.4.2.6.2.2.4.35.35.45zM3.75 5.1c.2 0 .3-.3.2-.45-.2.1-.5.15-.65.2.25.1.25.25.45.25zm1.15 1.25c.2-.1.2-.35.15-.45-.05-.1-.1-.2-.15-.2-.1 0-.2-.05-.2-.15-.05-.1.1-.15.2-.3-.1-.05-.2-.1-.1-.15.1-.05.2.05.2 0 .05-.05-.05-.1-.1-.15s-.1-.05-.15 0l-.6.2c-.05 0-.15 0-.15.05s-.05.15 0 .15.05-.15.15-.15.1.05 0 .2c.2 0 .3-.05.35.1.05.1 0 .15-.05.3-.05.05 0 .15 0 .3.05.1.25.35.45.25zm.05-1.75c.1-.1 0-.2.15-.45-.15.1-.4.25-.65.35.15.15.35.25.5.1zm-.35-1.55c.05.05.05.1.05.15-.05 0-.05-.05-.15-.1v.3c.05-.05.1-.05.1-.1 0 .15-.05.3-.15.3l-.15-.15c0-.05.05-.1.1-.05 0-.15-.1-.15-.15-.1.05-.2.05-.3-.1-.35-.15.15-.05.2.05.3-.1-.05-.25.05-.1.2 0-.1.1-.05.1 0s-.05.15-.2.2c-.15.05-.2-.05-.25-.15.05 0 .1 0 .2.05l.05-.25c-.05.15-.1.15-.15.2 0-.05.05-.2.05-.2l-.35.1s.15.05.2.1c0 0-.05.05-.2 0l.1.2c0-.1.05-.15.1-.15.05.1.05.2-.1.3-.1.1-.2.05-.2 0-.05-.05 0-.15.1-.1 0-.15-.15-.15-.15-.05 0-.15-.05-.3-.2-.3-.05.15 0 .3.15.35-.1 0-.15.05-.05.15 0-.1.05-.1.1-.05s0 .1-.05.15-.15.05-.3-.1h.1L3 3.65v.15c-.05-.05-.05-.05-.05-.15l-.1.1c.1.1.3.25.45.45.15-.1.5-.3.75-.35.2-.1.55-.2.8-.2-.05-.3 0-.5 0-.6h-.25zm-1.35-.35.1.2.05-.15v.3c0 .05.05.15.15.15.05 0 .15-.05.15-.15 0-.05-.05-.1-.05-.1 0-.05-.1-.15-.15-.2h.2v-.2l-.2.1v-.2l-.2.05.1.15-.15.05zm.7.2c.05-.1.05-.15 0-.2-.05-.05-.1-.05-.15 0s-.05.1 0 .15.1.05.15.05zm.3-.25c.05-.05.05-.1 0-.15s-.1-.05-.15 0-.1.1 0 .15c.05.05.1.05.15 0zm.25.05c.05-.05.05-.1 0-.15s-.1-.05-.15 0c-.05.05-.05.1 0 .15s.15.05.15 0zm.1.25c.05.05.1.05.15 0s.05-.1 0-.15h-.15c-.1 0-.1.15 0 .15zm-1.35.2c.05 0 .1-.05.1-.1s-.05-.1-.1-.1-.1.05-.1.1.05.1.1.1zm-.35.05c.05 0 .1-.05.1-.1S3 3 2.9 3c-.05 0-.1.05-.1.1s.05.1.1.1zm-.05.1c0-.05-.05-.1-.1-.1s-.1.05-.1.1.05.1.1.1.1 0 .1-.1zm.05.35c0-.05-.05-.1-.1-.1s-.1.05-.1.1.05.1.1.1.1-.05.1-.1zm7.85 8.45c-.05 0-.05.05-.05.05 0 .05.5-.05.5.05 0 .05-.1.1-.3.1h-.05c0 .05.05.05.05.05v.05s0 .05 0 0h-.05s-.05 0 0 .05h-.05v-.05h-.05v-.05h.05l.05.05.05-.05-.05-.05h-.15c.05.05.05.1.05.15v.05h-.05s0 .05-.05.05H10.5c0-.05.05 0 .05-.05 0 0 0-.05.05-.05s.05.05.1.05h.05-.05v-.05c-.05 0-.05.05-.1.05 0 .05-.05.1-.05.1l-.05.05c-.05 0-.05 0-.05.05v-.05h-.05l-.05.05v-.05s0 .05-.05.05c0 0-.05 0-.05-.05v.1s-.05 0-.05-.05v-.05c-.05.05-.05 0-.05 0s0-.05.05-.05h.05c-.05 0-.05 0-.05-.05h.05v.05h.2v-.05c-.05 0-.05 0-.05-.05-.2-.1-.2-.15-.2-.15-.05 0-.1 0-.05-.05 0 .05.05.05.05 0 0 0-.05 0 0-.05v-.05h.05-.05.05l.05.05h.05v.05c0 .05 0 .05.05.05s.05.1.1.1v-.1s0-.05.05-.05l.05-.05v-.05h.1s.05 0 .05.05h.05s0 .05-.05.05c0 0 0 .05-.05.1.2-.05.4 0 .45 0 .1 0 .2-.05.2-.05 0-.05-.5.05-.5-.05-.2-.2-.15-.2-.1-.2 0 0 0-.05 0 0 .1-.1.3 0 .35-.05 0 0-.1.05-.15.05.15.05.2-.05.4 0-.15-.05-.35.15-.6 0 0 .05 0 0 0 0zm-.35 0c0 .05 0 .05 0 0 .05.05.05.05 0 0 .05.05.05.05 0 0zs-.05 0 0 0c-.05 0-.05 0 0 0-.05.05 0 0 0 0zm-.05.15s0 .05 0 0c0 .05.05.05 0 0 .05 0 .05 0 0 0 .05 0 .05 0 0 0 .05-.05.05-.05.05 0h-.05c0-.1 0-.1 0 0 0-.1.05-.1 0 0zm.55-.8c-.05 0-.15 0-.15.05s.35.05.45.05c.15 0 .15.05.15.05 0 .05-.15.05-.3.05h.15c.05 0 0 0 0 0h.05v.1h-.05c0 .05-.05 0-.05.05v.05h-.05v-.05s0 .05-.05.05 0-.05.05-.05H11s0-.05.05-.05h.05v-.05h-.25v.05s.05.05 0 .05h-.05s0 .05-.05.05h-.15c0-.05.05 0 .05-.05h-.05s0-.05.05-.05.05.05.1.05h.05-.05c-.05 0 0-.05 0-.1h-.05c-.2-.05-.1.05-.2.05 0 0 0 .05-.05.05 0 .05-.05.1-.1.05-.05 0-.1 0-.1.05v-.05h-.05c0 .05-.05.05-.05.05v-.1s0 .05-.05.05c0 0-.05 0-.05-.05v.1s-.05 0-.05-.05v-.05c-.05.05-.05 0-.05 0s0-.05.05-.05h.05c-.05 0-.05-.05-.05-.05h.05v.05c0 .05.1 0 .1 0h.1v-.05h-.05c-.05-.05-.05 0-.05 0-.05 0-.1 0-.05-.05 0 .05.05.05.05 0-.05 0-.05 0 0-.05v-.05s0-.05.05 0h-.05.05l.05.05h.05v.05c0 .05 0 .05.05.05h.05v-.05s0-.05.05-.05l.05-.05V11.5h.1s.05 0 .05.05h.05s0 .05-.05.05c0 0 0 .05-.05.1.15-.05.5 0 .6 0 .05 0 .2 0 .2-.05 0 0 0-.05-.1-.05s-.5.1-.5-.05c-.1-.15.05-.15.1-.1.05-.05.05-.05 0 0 .1-.1.3 0 .35-.05 0 0-.1.05-.15.05.15.05.2-.05.4 0-.15-.05-.4.05-.6 0 .05 0 .05 0 0 0zm-.45 0s-.05-.05 0 0c-.05 0-.05 0 0 0zm.05.05s-.05 0 0 0l-.05-.05c-.05.05 0 .05.05.05h-.05v.05l.05-.05c-.05.05-.05.05 0 0-.05.05-.05.05 0 0-.05 0-.05 0 0 0-.05 0-.05 0 0 0-.05 0-.05 0 0 0zc0-.05 0-.05 0 0 0-.05 0 0 0 0zm1.1-.45s0 .05 0 0c0 .05 0 .05 0 0 0 .05 0 .05 0 0v.05c0 .05-.05 0-.05.05 0 0 .05 0 0 .05H11.5v-.05s0 .05-.05.05v-.05h-.1s0-.05.05-.05h.05v-.05h-.1c-.05 0-.05.05-.1.05h-.1v.05s.05.05 0 .05h-.05s0 .05-.05.05h-.15c0-.05.05 0 .05-.05h-.05s0-.05.05-.05.05.05.1.05h.05-.1c-.05 0-.05-.05 0-.1 0 0 0 .05-.05.05-.3-.05-.15.1-.4.05 0 0 0 .05-.05.05h-.05l-.05.05c-.05 0-.05 0-.1.05v-.05h-.05c0 .05-.05.05-.05.05v-.1s0 .05-.05.05c0 0-.05 0-.05-.05v.1s-.05 0-.05-.05v-.05c-.05.05-.05 0-.05 0s0-.05.05-.05h.05c-.05 0-.05-.05-.05-.05h.05v.05c0 .05.1 0 .1 0h.1s-.05-.05 0-.05v-.05h-.05l-.1-.1v-.05c-.05 0-.1 0-.05-.05 0 .05.05.05.05 0-.05 0-.05-.05 0-.05v-.05s0-.05.05 0c0 0-.05 0-.05-.05h.05s0 .05.05.05h.05v.05c0 .05 0 .05.05.05s.05.05.1.05v-.05s0-.05.05-.05l.05-.05v-.05h.15s.05 0 .05.05h.05s0 .05-.05.05c0 0 0 .05-.05.1.2-.05.75 0 .85 0 .05 0 .2 0 .2-.05 0 0 0-.05-.15-.05-.1 0-.65.1-.65-.05 0-.1.15-.05.35-.05.05-.05.3 0 .35 0 0 0-.1.05-.15.05.15.05.2-.05.4 0-.1-.05-.35.1-.55.05h-.05c-.1 0-.3 0-.3.05 0 .1.45.05.6.05s.2.05.2.05c0 .05-.15.05-.2.05h.15c-.2-.05-.2-.05-.15 0-.05 0 0-.05 0 0zm-1.1-.25s0 .05 0 0c.05.05.05.05.05 0H10.5zm-.05 0s0-.1 0 0c0 0-.05 0 0 0zm-.05.1c.05.05.05 0 0 0 .05 0 .05 0 0 0 .05 0 .05-.05 0 0l.05-.05h-.05c.05 0 .05 0 0 .05.05-.05.05-.05 0 0 .05-.05 0 0 0 0zm-.95-1c0 .05-.15.05-.2.05h.25v.1c0 .05-.05 0-.05.05 0 0 .05 0 0 .05h-.05v-.05.05-.05h-.1s0-.05.05-.05h.05V10h-.1c-.05 0-.05.05-.1.05h-.1v.05s.05.05 0 .05H9s0 .05-.05.05h-.15c0-.05.05 0 .05-.05h-.05s0-.05.05-.05.05.05.1.05h.05-.05c-.05 0-.05-.05 0-.05h-.05c-.3-.05-.15.1-.4.05 0 0 0 .05-.05.05l-.05.05h-.05c-.05 0-.1 0-.1.05v-.1h-.05c0 .05-.05.05-.05.05v-.1s0 .05-.05.05c0 0-.05 0-.05-.05v.1s-.05 0-.05-.05v-.05c-.05.05-.05 0-.05 0s0-.05.05-.05h.05c-.05 0-.05-.05-.05-.05v.05c0 .05.1 0 .1 0h.1v-.05h-.05l-.1-.1v-.05c-.05 0-.1 0-.05-.05 0 .05.05.05.05 0-.05 0-.05-.05 0-.05v-.05s0-.05.05 0c0 0-.05 0-.05-.05h.05s0 .05.05.05h.05v.05c0 .05 0 .05.05.05s.05.05.05.05v-.05s0-.05.05-.05l.05-.05v-.05h.15s.05 0 .05.05h.05s0 .05-.05.05c0 .05 0 .05-.05.1.25-.05.75 0 .9 0-.2.05-.05 0 0 0-.05-.05-.05-.05-.2-.05-.1 0-.65.1-.65-.05 0-.1.15-.05.35-.05.05-.05.3 0 .35 0 0 0-.1.05-.15.05.15.05.3-.05.4 0-.15-.05-.35.1-.55.05h-.05c-.1 0-.3 0-.3.05 0 .1.45.05.6.05.15-.15.2-.1.2-.05zm-1.15-.1c.05.05.05.05.05 0h-.05zm-.05-.1s-.05 0 0 0c-.05 0-.05 0 0 0 0 .1 0 0 0 0zm-.05.15c0 .05 0 .05 0 0 0 .05.05.05 0 0 .05.05.05 0 0 0 .05 0 .05 0 0 0l.05-.05h-.05c.05 0 .05 0 0 .05.05 0 .05 0 0 0 .05 0 0 0 0 0zm1.3-.7c0 .05-.15.1-.3.1h.3v.1h-.05c0 .05-.05 0-.05.05 0 0 .05 0 0 .05h-.05v-.05.1-.05h-.1s0-.05.05-.05h.05v-.05h-.1c-.05 0-.05.05-.1.05h-.1v.05c.05 0 .05.05 0 .05H9s0 .05-.05.05h-.05.05-.1c0-.05.05 0 .05-.05h-.05s0-.05.05-.05.05.1.1.05h.05-.05c-.05 0-.05-.05 0-.1h-.05c-.2-.05-.1.1-.3.1h-.05c0 .05-.1.1-.1.1-.05.05-.05 0-.1.05v-.1h-.05c0 .05-.05.05-.05.05V9.5s0 .05-.05.05c0 0-.05 0-.05-.05v.1s-.05 0-.05-.05V9.5c-.1 0-.1-.05-.1-.05s0-.05.05-.05h.05c-.05 0-.05-.05-.05-.05H8v.05c0 .05.1 0 .1 0h.1v-.05h-.05c-.05 0-.05-.05-.05-.05v-.05c-.05 0-.1 0-.05-.05 0 .05.05.05.05 0-.05 0-.05-.05 0-.05v-.05s0-.05.05 0c0 0-.05 0-.05-.05h.05s0 .05.05.05V9s.05 0 .05.05v.05c0 .05 0 .05.05.05s.05.05.05.05h.05v-.05s0-.05.05-.05l.05-.05V9h.15s.05 0 .05.05v.05h.05s0 .05-.05.05c0 0 0 .05-.05.1.2-.05.55 0 .65 0 0-.05.15-.05.2-.1-.05-.05-.05-.05-.2-.05-.1 0-.55.1-.55-.05 0-.05.1-.05.2-.05.1-.05.2 0 .3-.05 0 0-.05.05-.1.05.15.05.3-.05.45.05-.1-.05-.4.05-.55 0H9c-.1 0-.15 0-.15.05 0 .1.35.05.5.05.1-.05.15-.05.15 0zm-1.25.15c-.05 0-.05 0 0 0zm.25-.25c.05.05.05.05.05 0H8.5zm-.05-.05s-.1 0 0 0c0 .05 0 .05 0 0zm-.1.15c.1.05.1 0 0 0 .1 0 .1 0 0 0 .1-.05.1-.05 0 0l.05-.05h-.05c.1 0 .1 0 0 .05.1-.05.1-.05 0 0 .1-.05 0-.05 0 0zm.9-.6c.05 0 .1.05.15.05h.1v.1c0 .05-.05 0-.05.05 0 0 .05 0 0 .05h-.05v-.1h-.1s0-.05.05-.05h.05v-.05h-.2v.1h-.05v.05h-.2c0-.05.05 0 .05-.05h-.05s0-.05.05-.05.05.05.1.05h.05-.05v-.1h-.05c-.15 0-.05.05-.1.05 0 0-.05.05-.1.05v-.05h-.05l-.05.05c-.05 0-.05 0-.05.05v-.05h-.05l-.05.05v-.05s0 .05-.05.05c0 0-.05 0-.05-.05v.1s-.05 0-.05-.05v-.05c-.05.05-.05 0-.05 0s0-.05.05-.05h.05c-.05 0-.05 0-.05-.05h.05v.05h.15s.05 0 .1-.05l-.05-.05c-.05 0-.1 0-.05-.05 0 .05.05.05.05 0-.05 0-.05 0 0-.05v-.05h.05-.05.05v.05h.05v.1l.05.05V8.5s0-.05.05-.05l.05-.05v-.05h.2s0 .05-.05.05c0 0-.05.05-.05.1.05-.05.1 0 .2.05.15-.05.25-.05.25-.1 0-.1-.45 0-.45-.15 0 0 0-.05.05-.05v-.05c.05-.05.1-.05.15-.1 0 0 0 .05-.05.1.1 0 .1-.15.35-.1-.15.05-.15.15-.4.2l-.05.05c0 .1.45 0 .45.15-.05 0-.1.05-.3.05zm-.35-.2c0 .05 0 .05 0 0 .05.05.05.05 0 0 .05.05 0 0 0 0zc-.1 0-.1 0 0 0-.1 0-.1 0 0 0-.1 0-.1 0 0 0zm-.1.1c-.05 0-.05 0 0 0 0 .05 0 0 0 0 .05-.05.05-.05.05 0h-.05c0-.05 0-.05 0 0 0-.05 0-.05 0 0zm.65 2.55c.05 0 .05 0 .05.05s-.05.05-.1.05l-.05 1.2h.05v.1c0 .05-.05.05-.1.05 0 .15-.1.2-.2.2-.05 0-.15-.05-.15-.15 0-.05.05-.1.1-.1s.05 0 .05.05-.1 0-.1.05 0 .05.05.05.1-.05.1-.1c0-.1-.1-.1-.2-.1-.65-.2-1.05-.9-1.05-1.4h-.05l.05-.1-.05.05c-.05 0-.1-.05-.1-.1s.05-.1.1-.1.1.05.1.1l.05-.1c.1.05.3.1.45.1.35 0 .6-.15.75-.15.1.05.2.2.25.35zm-1.3.1c-.05.6.4 1.05.85 1.2l-.85-1.2zm.9 1.15c0-.05 0-.15.05-.2l-.65-.9h-.15l.75 1.1zm.05-.4c0-.05 0-.15.05-.2l-.4-.55c-.05 0-.1.05-.15.05l.5.7zm.1-.85c0-.1 0-.15-.05-.15s-.2.05-.35.1l.35.5c0-.1.05-.2.05-.35v-.05c-.05 0-.05-.05-.05-.05h.05zm2.15-1.3c.05 0 .05-.05.05-.05h-.05s.05 0 0-.05c0-.05-.05-.05-.05 0s-.2 0-.2-.15l.05.05h.05c.05 0 .05-.05.05-.05 0-.05-.05-.1-.15-.15-.05 0-.05-.05-.05-.05 0-.05 0-.1-.05-.2v-.1c-.05.05-.05.15.05.3.05.05.2.15.2.2 0 0 0 .05-.05.05h-.05s-.05 0-.05-.05c-.05-.05-.1-.15-.15-.2-.05-.1-.05-.15-.05-.3.05-.05-.05-.2-.05-.3v-.05h-.05s0-.05-.05-.05-.05 0-.05-.05c0 0 0 .05-.05.05h-.2c-.05 0-.05 0 0 .05v.1-.05h.05v.05h-.05v.05h.15c0 .05-.1.05-.1.15l-.05-.05-.05-.05-.05-.05c-.05 0-.05-.05-.05-.05v-.05l-.05-.05v.1s0-.05-.05-.05c0 0 0-.05-.05 0 0 0 0 .05.05.05h-.05v.1h-.05c-.05.05 0 .1.05.05v.15c0 .05.05.1.15.15l-.1.1s-.05.05-.1.05l-.05-.05h-.1.1-.05s-.05.05 0 .05v-.05s.05.05.05 0v.05s.05.05.05 0l-.05-.05v-.05s0 .05.05 0v-.05h.1s0-.05.05-.05h.05s0-.05.05-.05c0 .15.15.1.2.2-.05 0-.1-.05-.15-.05s-.1.05-.1.1.05.1.05.15h-.1c-.05 0-.05-.05-.1-.05 0 0-.05 0-.05.05h.05s-.05 0-.05.05c0 0 0 .05.05 0 0 0 0 .05.05 0h.05s0-.05.05 0h.1v-.05c0-.05-.05-.05-.05-.05 0-.05.05-.1.1-.1 0 .05.05.15.15.2.05 0 .1-.05.1-.05v.05h-.05s-.05 0-.05.05h.05s.05.05.05 0c0 0-.05.05 0 .05s0-.05.05-.05v.05h.05v-.05s.05 0 .05-.05c.5.3.5.3.5.2 0 .1 0 .1 0 0 0 .1 0 0 0 0zm.35.3c.05 0 .1.05.1.1l-.05.05s.05.05.05.1c-.05 0-.05 0-.1-.05 0 .05 0 .05-.05.05s-.1 0-.1-.05c0 .05.1 0 .05 0h-.75c0 .05 0 .1-.05.15-.05-.05-.05-.1-.05-.15h-.65c0 .05.05.05.05 0 0 .05-.05.1-.1.1H10s-.05.05-.1.05c0-.05 0-.05.05-.1-.05 0-.05 0-.05-.05s0-.1.1-.1c-.05 0 0 .1 0 .05v-.95c-.05 0-.1 0-.15-.05.05-.05.1-.05.15-.05v-.9c-.05 0-.05.05 0 .05-.05 0-.1-.05-.05-.1l.05-.05s-.05-.05-.05-.1c.05 0 .05 0 .1.05 0-.05 0-.05.05-.05s.1 0 .1.1c0-.05-.05-.05-.05 0 .15.05.4.1.55.2s.35.3.5.45l.05.05c0-.05.05-.05.15-.05-.1.15-.15.15-.15.15.2.35.4.7.45 1.15V10zm-.65-1.15c-.1-.15-.3-.3-.45-.4-.1-.1-.3-.15-.45-.2v.1c-.05 0-.05 0-.05-.05v.6c.05 0 .05 0 .05.05v.05c.05 0 .05 0 .1.05-.05.05-.05.05-.1.05.05 0 .05.05 0 .05l-.05.05V10s.05-.05.1-.05c0 .05 0 .05-.05.1h.5c0-.05 0-.05.05-.05h.05c0-.05 0-.05.05-.1.05.05.05.05.05.1 0-.05.05-.05.05 0l.05.05H11.5s-.05-.05-.05-.1h.05c-.05-.35-.15-.6-.35-.9h-.05s-.05-.05 0-.05c0 0-.05.05-.1 0 0-.05 0-.05.05-.1v-.05zm2.1 1.35v.2c0 .5-.1 1.05-.3 1.5-.15.45-.45.9-.75 1.2-.15.15-.35.35-.5.45-.05.05-.2.1-1-.1-.1 0-.15-.05-.3-.05 0-.1 0-.15.05-.2.05-.1.05-.15.1-.2.05 0 .05-.05.1-.05.3-.1.5-.35.75-.6.2-.3.4-.55.5-.9s.15-.65.15-1h-2.25v2.5c.15 0 .5.05.5.05-.05.1-.1.2-.1.4-.3-.05-.5-.15-.8-.3.2-.1.3-.1.4-.1v-2.45h-2.35c0-.1-.05-.3-.1-.35-.1-.15-.15-.2-.15-.45 0-.1-.05-.3-.15-.4-.05-.05-.35-.4-.4-.45.15-.45.45-.9.75-1.2.2-.2.45-.45.75-.6-.1-.1-.3-.2-.3-.45 0-.1.05-.2.1-.3-.15-.45-.4-1-.6-1.3l.45-.2c-.1.15-.1.4-.1.5.1-.1.2-.2.3-.35 0 .15.1.4.15.5-.1 0-.2-.05-.4 0 .05.1.3.3.55.15.15-.05.35-.1.35-.3 0-.05-.05-.15-.15-.15s-.1.15-.05.2c-.1-.05-.3-.45-.05-.5.15-.05.35.15.4.35 0-.1.1-.35.3-.35.2 0 .15.4.05.5 0-.1-.1-.2-.15-.2s-.1.05-.1.15c0 .1.15.2.4.2.15 0 .55-.05.55-.45-.1 0-.35.1-.4.2V4.7c.1.15.3.3.4.3-.05-.15-.15-.35-.35-.45h.85c-.15.1-.3.3-.35.45.1 0 .3-.1.4-.2v.6c-.1-.1-.3-.2-.4-.2.05.4.4.45.55.45.2 0 .4-.05.4-.2 0-.1-.05-.15-.1-.15s-.1.05-.15.2c0-.1-.1-.55.1-.55.15 0 .2.15.3.4.05-.15.2-.4.4-.35.15.05.05.45-.05.5.05-.05 0-.2-.05-.2-.1 0-.15.05-.15.15 0 .1.15.2.35.3.3.05.5-.1.55-.2-.1-.05-.2-.05-.4.05.05-.1.15-.4.15-.5.05.15.1.3.3.35 0-.1 0-.35-.1-.5l.45.2c-.2.2-.5.8-.6 1.3.1.05.15.15.15.35 0 .2-.1.35-.3.45.3.15.5.4.75.6.15.15.3.4.45.6 0 0-.05.05-.05.1-.05.05-.1.1-.1.15-.05.05-.05.1-.05.15s0 .1.05.2l.5 1c-.3 0-.2.1-.1.15zm-3.5-2.5c-.3 0-.6.05-.9.2-.3.1-.55.35-.75.6-.2.3-.4.55-.5.9s-.15.65-.15 1.05h2.3v-2.75zm.05-1.1c.8 0 1.3.2 1.6.45.15-.1.3-.2.3-.35 0-.45-1.25-.5-1.85-.5s-1.85.05-1.85.5c0 .1.05.2.3.35.25-.2.75-.45 1.5-.45zm2.35 3.85c0-.35-.05-.7-.15-1.05-.1-.35-.3-.6-.5-.9s-.45-.45-.75-.6c-.3-.1-.55-.2-.85-.2v2.75h2.25zm5.5 5.55c0-.05-.05-.05-.05-.05-.75.2-1.6-.4-2.45-.95-.75-.5-1.4-.95-2-.95-.2 0-.4.05-.55.1-.2.1-.35.3-.45.55-.1.2-.2.4-.3.55-.1.15-.15.3-.15.4s.05.2.15.35c.05.1.2.15.4.3.05 0 .05.05.1.05.15.05.2.1.2.2-.3.1-.65.2-1.05.3-.45.05-1 .1-1.55.1s-1.05-.05-1.55-.1c-.45-.05-.8-.15-1.05-.3 0-.1.1-.15.3-.2.05 0 .05-.05.1-.05.15-.05.3-.15.4-.2.1-.1.15-.15.15-.3s-.05-.3-.15-.4c-.05-.1-.15-.3-.3-.55-.1-.2-.3-.45-.45-.55-.15-.1-.35-.1-.55-.1-.6 0-1.3.45-2 .95-.9.55-1.8 1.15-2.45.95-.05 0-.05 0-.05.05s0 .05.05.05c.2.1.4.2.6.4.3.2.5.4.8.4.3 0 .55-.05.9-.3.3-.15.6-.35.9-.55.55-.4 1.15-.8 1.75-.85l-.15.15c-.15.15-.35.3-.35.55 0 .2.05.35.15.55.05.05.05.1.1.2s.1.2.1.4c0 .05.05.15.05.2.05.1.1.4.5.6.5.2 1.3.4 2.45.4 1.1 0 1.95-.1 2.45-.4.4-.2.5-.45.5-.6 0-.1.05-.15.05-.2.05-.15.05-.3.1-.4.05-.1.1-.15.1-.3.1-.15.15-.3.15-.45 0-.3-.15-.4-.35-.55l-.15-.15c.55.05 1.15.45 1.75.85.3.2.6.4.9.55.35.15.6.3.9.3.3 0 .5-.15.8-.4.15-.15.4-.3.6-.4-.45-.1-.35-.15-.35-.2zm-7.3-.7c.2 0 .35.15.35.35 0 .15-.1.3-.15.4-.05-.1-.05-.15-.1-.15-.1 0-.05.55-.4.55v.1c0 .1-.1.2-.2.2s-.25-.15-.25-.25v-.1c-.35 0-.3-.55-.4-.55-.05 0-.1.05-.1.15-.05-.1-.15-.2-.15-.4 0-.15.1-.35.35-.35h.1V14.5c.35.05.6.1.9.1v.6c0 .1 0 .1.05.1zm-.55 1.3c.05 0 .1-.05.1-.1s-.05-.1-.1-.1-.1.05-.1.1.05.1.1.1zm.75-.75c.05-.05.05-.15.05-.2 0-.1-.05-.2-.2-.2-.3 0-.2.4-.35.4-.05 0-.1-.05-.1-.1 0-.1.15-.2.15-.4s-.15-.3-.3-.4c-.15.1-.3.3-.3.4 0 .15.15.3.15.4 0 .05-.05.1-.1.1-.1 0-.05-.4-.35-.4-.15 0-.2.15-.2.2 0 .05 0 .1.05.2l.1-.1c.2 0 .1.55.4.55.1 0 .15-.05.15-.15 0-.05-.05-.1-.05-.15 0-.05.05-.1.1-.1s.1 0 .1.1c0 .05-.05.1-.05.15s.05.15.15.15c.2 0 .15-.55.4-.55.15 0 .15.05.2.1zm.15-2.05c.35.05.75.15.95.1l-.05.05c-.1.1-.2.15-.35.3-.35.2-.65.35-.9.35-.3 0-.65-.05-1.05-.15-.35-.1-.65-.2-.9-.35-.1.1-.3.1-.45.05-.15-.05-.3-.3-.3-.4v-.05l-.35-.35c-.35-.35-.55-.8-.75-1.2-.05-.2-.15-.45-.15-.65.3.1.4 0 .5-.1.05 0 .05.1.05.1.35 0 .5-.2.55-.4.05.2.05.4.15.55.1.35.3.6.5.9.05.1.15.15.2.2.05 0 .1-.05.15-.05.1 0 .2.05.35.15.1.1.1.2.1.35.65.2 1.25.4 1.75.6zM8.7 13c.05 0 .05.05.1.05 0-.05-.05-.1-.1-.2-.05-.05-.15-.1-.3-.1-.2 0-.4.2-.5.3-.05 0-.1 0-.15-.05 0 .05.05.1.05.15-.1.15-.15.35-.15.45 0 .05.1.2.2.35.1.05.15.05.3 0-.05-.05-.1-.05-.15-.1-.05 0-.1-.05-.1-.1v-.05c0-.05 0-.1.05-.15v-.15h.05c.05.05.15.05.2.05 0 0 .05 0 .05-.05.05-.05 0-.15-.1-.2l-.05-.2.05-.05c.05-.05.05-.1.1-.1.25.05.3.05.45.15zm.35.95c.1 0 .2-.1.2-.2s-.1-.2-.2-.2-.2.1-.2.2c-.05.15.1.2.2.2zm.95.35c.1 0 .2-.1.2-.2s-.1-.2-.2-.2-.2.1-.2.2c0 .05.1.2.2.2zM10 2.5c-.1-.1-.2-.2-.2-.4.1 0 .3.1.4.2V1.75c-.15.15-.25.25-.45.25 0-.1.1-.3.2-.4h-.55c.1.15.2.3.2.4-.1 0-.3-.1-.4-.2v.55c.1-.1.2-.2.4-.2 0 .15-.1.3-.2.4H10zm-.8.7c.05.2.3.4.5.4s.45-.15.5-.4h-1zm.6-.2h.4c-.05-.2-.2-.4-.4-.4V3zm-.2 0v-.4c-.2.05-.4.2-.4.4h.4zm.4.75c-.05 0-.1.05-.15.05V4.5h.15V3.75zm-.55.8h.15V3.85c-.05 0-.1-.05-.15-.05v.75zm.6-.9c0 .1.05.15.15.15s.15-.05.15-.15-.05-.15-.15-.15-.15.05-.15.15zm.5-.05c.1 0 .15-.05.15-.15 0-.05-.05-.1-.15-.1s-.15.05-.15.15c0 .05.1.1.15.1zM11 3.5c.1 0 .15-.05.15-.15s-.05-.15-.15-.15-.15.05-.15.15.05.15.15.15zm1.1.4c.1 0 .15-.05.15-.15s-.05-.15-.15-.15-.15.05-.15.15.1.15.15.15zm-.25-.3c.1 0 .15-.05.15-.15s-.05-.15-.15-.15-.15.05-.15.15c-.05.1 0 .15.15.15zm-.45-.1c.1 0 .15-.05.15-.15s-.05-.15-.15-.15-.15.05-.15.15c-.05.05.1.15.15.15zm.9 1.2c-.1 0-.15.05-.15.15 0 .1.05.15.15.15s.15-.05.15-.15c0-.1-.05-.15-.15-.15zm.05-.35c-.1 0-.15.05-.15.15 0 .1.05.15.15.15s.15-.05.15-.15c0-.1-.05-.15-.15-.15zm-.2-.25c0 .1.05.15.15.15s.2-.05.2-.15c0-.1-.05-.15-.15-.15s-.2.05-.2.15zm-2.95-.25c.1 0 .15-.05.15-.15s-.05-.15-.15-.15-.15.05-.15.15c0 0 .1.15.15.15zm-.4-.25c.1 0 .15-.05.15-.15s-.05-.15-.15-.15-.15.05-.15.15c.05.1.1.15.15.15zm-.35-.1c.1 0 .15-.05.15-.15s-.05-.15-.15-.15-.15.05-.15.15c-.05.1.05.15.15.15zm-1.15.4c.1 0 .15-.05.15-.15s-.05-.15-.15-.15-.15.05-.15.15.05.15.15.15zm.3-.3c.1 0 .15-.05.15-.15s-.05-.15-.15-.15-.15.05-.15.15c-.05.1.1.15.15.15zm.45-.1c.1 0 .15-.05.15-.15s-.05-.15-.15-.15-.15.05-.15.15c-.05.05.05.15.15.15zm-.75 1.4c0-.1-.05-.15-.15-.15s-.15 0-.15.15c0 .1.05.15.15.15.05 0 .15-.05.15-.15zm-.1-.4c0-.1-.05-.15-.15-.15-.1 0-.15.05-.15.15 0 .1.05.15.15.15.1 0 .15-.1.15-.15zm-.1-.25c.1 0 .15-.05.15-.15 0-.1-.05-.15-.15-.15s-.2.05-.2.15c0 .05.15.15.2.15zm3.85.15c-.05.05-.2.2-.2.4 0 .1.1.3.15.4.05-.15.2-.2.2-.4 0-.15-.1-.25-.15-.4zm-2.45 0c-.1.15-.15.3-.15.45s.15.2.2.4c.05-.15.15-.3.15-.4 0-.25-.15-.4-.2-.45z"></path></svg>
                        <MudText>@string.Format(ConstantString.SigninWith, "HMPPS")</MudText>
                    </div>
                </MudButton>
            </MudStack>
            
        </MudItem>
    </MudGrid>
</MudPaper>

<style>
    .microsoft-signin {
        color: #5e5e5e !important;
        border: 1px solid #8c8c8c !important;
        border-radius: 0 !important;
    }
    
    .hmpps-signin {
        color: #ffffff !important;
        border-radius: 0 !important;
        background-color: black;
    }

    .hmpps-signin:hover {
        color: #000000;
    }
</style>

@code {
    public const string PageUrl = "/pages/authentication/login";
    private string? errorMessage;
    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;
    private string title = "Sign In";
    private AuthenticationScheme[] externalLogins = [];
    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new()
        {
            UserName = "",
            Password = ""
        };

    [SupplyParameterFromQuery]
    public string? Error
    {
        get {
            return errorMessage;
        }
        set {
            errorMessage = value;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        title = L["Sign In"];
        if (HttpContext is not null && HttpMethods.IsGet(HttpContext.Request.Method))
        {
            // Clear the existing external cookie to ensure a clean login process
            await HttpContext.SignOutAsync(IdentityConstants.ExternalScheme);
        }
    }

    public async Task OnSubmit()
    {
        var user = await UserManager.FindByNameAsync(Input.UserName);



        if(user is null)
        {
            await Sender.Publish( IdentityAuditNotification.UnknownUserNameNotification(Input.UserName, NetworkIpProvider.IpAddress));
            errorMessage = L[ConstantString.Errors.InvalidLoginAttempt];
            return;
        }

        // This doesn't count login failures towards account lockout
        // To enable password failures to trigger account lockout, set lockoutOnFailure: true
        var result = await SignInManager.PasswordSignInAsync(Input.UserName, Input.Password, false, lockoutOnFailure: true);

        if (result.Succeeded)
        {
            await Sender.Publish(IdentityAuditNotification.LoginSucceededNoTwoFactorRequired(Input.UserName, NetworkIpProvider.IpAddress));
            RedirectManager.RedirectTo(ReturnUrl);
        }
        else if(result is CustomSignInResult customSignInResult)
        {
            if(customSignInResult.RequiresPasswordReset)
            {
                string token = await UserManager.GeneratePasswordResetTokenAsync(user);
                var encodedToken = WebEncoders.Base64UrlEncode(Encoding.UTF8.GetBytes(token));
                RedirectManager.RedirectTo(ResetPassword.PageUrl, new() { ["token"] = encodedToken, ["userid"] = user.Id });
            }
            else if(customSignInResult.IsInactive)
            {
                await Sender.Publish(IdentityAuditNotification.UserInactive(Input.UserName, NetworkIpProvider.IpAddress));
                errorMessage = L[ConstantString.Errors.AccountInactive];
            }
        }
        else if (result.RequiresTwoFactor)
        {
            user = await SignInManager.GetTwoFactorAuthenticationUserAsync();
            var token = await UserManager.GenerateTwoFactorTokenAsync(user!, "Email");
            await Sender.Publish(new SendTwoFactorEmailCodeNotification(user!.Email!, user.UserName!, token));

            RedirectManager.RedirectTo(LoginWith2fa.PageUrl);
        }
        else if (result.IsLockedOut)
        {
            await Sender.Publish(IdentityAuditNotification.UserLockedOut(Input.UserName,NetworkIpProvider.IpAddress));   
            Logger.LogWarning($"{Input.UserName} account locked out.");
            RedirectManager.RedirectTo(Lockout.PageUrl);
        }
        else
        {
            await Sender.Publish( IdentityAuditNotification.LoginFailedPassword(Input.UserName,NetworkIpProvider.IpAddress) );
            errorMessage = L[ConstantString.Errors.InvalidLoginAttempt];
        }
    }

    public sealed class InputModel
    {
        [Required(ErrorMessage = "User name is required")]
        [StringLength(100, ErrorMessage = "Name length can't be more than 100.")]
        public string UserName { get; set; } = "";
        
        [Required(ErrorMessage = "Password is required")]
        public string Password { get; set; } = "";
    }
}
