@page "/pages/authentication/resetpasswordconfirmation"
@inject IStringLocalizer<ResetPasswordConfirmation> L
<PageTitle>@L["Reset password confirmation"]</PageTitle>


<MudText Typo="Typo.h4" GutterBottom="true">@L["Reset password confirmation"]</MudText>

<p>
    @L["Your password has been reset."]
</p>

<MudButton Variant="Variant.Outlined"
           Color="Color.Primary"
           ButtonType="ButtonType.Submit"
           Href="@Login.PageUrl">
    <MudText>@L["Please click here to log in"]</MudText>
</MudButton>

@code{
    public const string PageUrl = "/pages/authentication/resetpasswordconfirmation";
}