@using Cfo.Cats.Application.Features.Delius.DTOs

<MudDialog>
    <DialogContent>
        <MudTable T="DisposalDto"
                  Items="@Disposals"
                  Context="disposal">
            <HeaderContent>
                <MudTh>
                    Sentence Date
                </MudTh>
                <MudTh>
                    Sentence Length
                </MudTh>
                <MudTh>
                    Details
                </MudTh>
                <MudTh>
                    Termination reason
                </MudTh>
                <MudTh>
                    Termination Date
                </MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd>
                    @disposal.SentenceDate
                </MudTd>
                <MudTd>
                    @disposal.Length @disposal.UnitDescription
                </MudTd>
                <MudTd>
                    @disposal.DisposalDetail
                </MudTd>
                <MudTd>
                    @disposal.TerminationDescription
                </MudTd>
                <MudTd>
                    @disposal.TerminationDate
                </MudTd>
            </RowTemplate>
            <ChildRowContent>

                @if (disposal.Requirements is { Length: > 0 })
                {
                    <MudTr>
                        <td colspan="5">
                            <MudCard Elevation="0">
                                <MudCardHeader>
                                    <CardHeaderContent>
                                        <MudText Typo="@Typo.body1">Requirements</MudText>
                                    </CardHeaderContent>
                                </MudCardHeader>
                                <MudCardContent class="pa-0">
                                    <MudTable Items="@disposal.Requirements" Context="requirement" Hover="true" Breakpoint="Breakpoint.Sm" Elevation="0">
                                        <HeaderContent>
                                            <MudTh>Category</MudTh>
                                            <MudTh>Sub Category</MudTh>
                                            <MudTh>Termination Description</MudTh>
                                            <MudTh>Length</MudTh>
                                        </HeaderContent>
                                        <RowTemplate>
                                            <MudTd>
                                                @requirement.CategoryDescription
                                            </MudTd>
                                            <MudTd>
                                                @requirement.SubCategoryDescription
                                            </MudTd>
                                            <MudTd>
                                                @requirement.TerminationDescription
                                            </MudTd>
                                            <MudTd>
                                                @requirement.Length @requirement.UnitDescription
                                            </MudTd>
                                        </RowTemplate>
                                    </MudTable>
                                </MudCardContent>
                            </MudCard>
                        </td>
                    </MudTr>
                }
            </ChildRowContent>
        </MudTable>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="Ok">Ok</MudButton>
    </DialogActions>
</MudDialog>



@code {

    [CascadingParameter] private IMudDialogInstance MudDialog { get; set; } = default!;

    [Parameter] public DisposalDto[] Disposals { get; set; } = [];

    private void Ok() => MudDialog.Cancel();
}
