@using Humanizer
@inherits CatsComponentBase


<style>
    .pointer-cursor {
        cursor: pointer;
    }
</style>

<MudItem xs="12" lg="6">
    
    @if (Results is null)
    {
        <LoadingCard Title="Notifications" />
    }

    @if (Results is not null)
    {
        <MudCard style="height:100%">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h5">Notifications</MudText>
                </CardHeaderContent>
                <CardHeaderActions>
                    <MudSwitch T="bool" Value="@Query.ShowReadNotifications" ValueChanged="OnShowUnreadChanged" Color="Color.Info">
                            Include Read 
                    </MudSwitch>
                </CardHeaderActions>
            </MudCardHeader>
            <MudCardContent>
                <MudList T="string">
                    @foreach (var item in Results.Items)
                    {
                        <MudListItem T="string" OnClickPreventDefault="true" OnClick="(() => GotoNotification(item.Link))">
                            <div class="d-flex justify-space-between align-center width-90">
                                <div>
                                    <MudText Typo="Typo.caption" Color="Color.Info">@item.Heading</MudText>
                                    <MudText Typo="Typo.body1">@item.Details</MudText>
                                    <MudText Typo="Typo.body2">@item.NotificationDate.Humanize()</MudText>
                                </div>
                                @if (item.ReadDate is null)
                                {
                                    <MudIconButton Icon="@Icons.Material.Filled.Close" OnClick="(() => DismissNotification(item.Id))"/>
                                }
                                else
                                {
                                    <MudIconButton Icon="@Icons.Material.Filled.MarkAsUnread" OnClick="(() => UnreadNotification(item.Id))"/>
                                }

                            </div>
                        </MudListItem>
                    }
                </MudList>
            </MudCardContent>
            <MudCardActions>
                <MudPagination Count="@Results.TotalPages" ShowFirstButton="true" ShowLastButton="true" SelectedChanged="OnPaginationChanged"/>
            </MudCardActions>
        </MudCard>
    }
</MudItem>