@using Cfo.Cats.Application.Features.Participants.Specifications

@inherits CatsComponentBase

<MudItem xs="12" md="6" lg="3">
@if (_participantSteps is null)
{
    <LoadingCard Title="My Participants" />
}

@if (_participantSteps is not null)
{
    <MudCard Style="height:100%">
        <MudCardHeader>
            <CardHeaderContent>
                <MudText Typo="Typo.h5">My Participants</MudText>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            <MudList T="string">
                <MudListItem Href="@GetParticipantsUrl(ParticipantListView.Identified)">
                        <div class="d-flex justify-space-between align-center width-100">
                            <MudText Typo="Typo.body1">Identified</MudText>
                            <MudText Typo="Typo.body1" Color="@(_participantSteps.IdentifiedCases == 0 ? Color.Secondary : Color.Success)">@_participantSteps.IdentifiedCases</MudText>
                        </div>
                </MudListItem>
                <MudListItem Href="@GetParticipantsUrl(ParticipantListView.Enrolling)">
                    <div class="d-flex justify-space-between align-center width-100">
                        <MudText Typo="Typo.body1">Enrolling</MudText>
                        <MudText Typo="Typo.body1" Color="@(_participantSteps.EnrollingCases == 0 ? Color.Secondary : Color.Success)">@_participantSteps.EnrollingCases</MudText>
                    </div>
                </MudListItem>
                <MudListItem Href="@GetParticipantsUrl(ParticipantListView.SubmittedToProvider)">
                    <div class="d-flex justify-space-between align-center width-100">
                        <MudText Typo="Typo.body1">Submitted to PQA</MudText>
                        <MudText Typo="Typo.body1" Color="@(_participantSteps.CasesAtPqa == 0 ? Color.Secondary : Color.Success)">@_participantSteps.CasesAtPqa</MudText>
                        </div>
                </MudListItem>
                <MudListItem Href="@GetParticipantsUrl(ParticipantListView.SubmittedToQa)">
                    <div class="d-flex justify-space-between align-center width-100">
                            <MudText Typo="Typo.body1">Submitted to Authority</MudText>
                            <MudText Typo="Typo.body1" Color="@(_participantSteps.CasesAtCfo == 0 ? Color.Secondary : Color.Success)">@_participantSteps.CasesAtCfo</MudText>
                    </div>
                </MudListItem>
                <MudListItem Href="@GetParticipantsUrl(ParticipantListView.Approved)">
                    <div class="d-flex justify-space-between align-center width-100">
                        <MudText Typo="Typo.body1">Approved</MudText>
                            <MudText Typo="Typo.body1" Color="@(_participantSteps.ApprovedCases == 0 ? Color.Secondary : Color.Success)">@_participantSteps.ApprovedCases</MudText>
                    </div>
                </MudListItem>
            </MudList>
        </MudCardContent>
        <MudCardActions>
            <MudButton Color="Color.Secondary" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.PeopleAlt" OnClick="GotoParticipants">@ConstantString.ViewAll</MudButton>
        </MudCardActions>
    </MudCard>
}
</MudItem>