@using Cfo.Cats.Application.Features.Participants.DTOs
@using Cfo.Cats.Domain.Common.Enums
@using Cfo.Cats.Server.UI.Components.Stepper
@using FluentValidation.Internal
@using Humanizer

@inherits CatsComponentBase
@implements IValidatorStrategy<RiskDto>

@if (Model is not null)
{
    <CatsMudStep Title="Risk Overview">
        <MudGrid>
            @* Is Relevant to Custody/Community *@
            <MudItem xs="4">
                Risk Details are relevant to
            </MudItem>
            <MudItem xs="8">
                <div class="d-flex align-center gap-4">
                    <MudCheckBox ReadOnly="@(ReadOnly || Model.LocationType?.IsCustody == true)" @bind-Value="@Model.IsRelevantToCustody" Label="@Model.GetMemberDescription(x => x.IsRelevantToCustody)" />
                    @if (ReadOnly == false && Model.LocationType?.IsCustody == true)
                    {
                        <MudTooltip Text="The Risk in Custody section is mandatory because the selected location for this review is of type 'Custody'.">
                            <MudIconButton Icon="@Icons.Material.Filled.Info" Size="@Size.Small" Color="Color.Info" Class="mr-2" />
                        </MudTooltip>
                    }
                    <MudTextField ReadOnly Underline="false" For="@(() => Model.IsRelevantToCustody)" hidden />
                </div>
                <div class="d-flex align-center gap-4">
                    <MudCheckBox ReadOnly="@(ReadOnly || Model.LocationType?.IsCommunity == true)" @bind-Value="@Model.IsRelevantToCommunity" Label="@Model.GetMemberDescription(x => x.IsRelevantToCommunity)" />
                    @if (ReadOnly == false && Model.LocationType?.IsCommunity == true)
                    {
                        <MudTooltip Text="The Risk in Community section is mandatory because selected location for this review is of type 'Community'">
                            <MudIconButton Icon="@Icons.Material.Filled.Info" Size="Size.Small" Color="Color.Info" Class="mr-2" />
                        </MudTooltip>
                    }
                    <MudTextField ReadOnly Underline="false" For="@(() => Model.IsRelevantToCommunity)" hidden />
                    </div>
            </MudItem>

            @if (HasOptionSelected)
            {
                <MudDivider Class="mt-6 mb-8"/>
                <MudExpansionPanels MultiExpansion Elevation="@(ReadOnly ? 0 : 1)" Outlined="ReadOnly is false">
                    @if (Model.IsRelevantToCustody)
                    {
                        <MudExpansionPanel Text="Risks in Custody" Expanded HideIcon="ReadOnly">
                            <RiskDetail Model="Model.CustodyRiskDetail" />
                        </MudExpansionPanel>
                    }
                    @if (Model.IsRelevantToCommunity)
                    {
                        <MudExpansionPanel Text="Risks in Community" Expanded HideIcon="ReadOnly">
                            <RiskDetail Model="Model.CommunityRiskDetail" Community="true" />
                        </MudExpansionPanel>
                    }
                </MudExpansionPanels>
            }
        </MudGrid>
    </CatsMudStep>
}

@code {
    [Parameter, EditorRequired]
    public required RiskDto Model { get; set; }

    [CascadingParameter]
    public MudForm? Form { get; set; }

    public bool ReadOnly { get; private set; } = false;

    protected override Task OnInitializedAsync()
    {
        if(Form is not null)
        {
            ReadOnly = Form.ReadOnly;
        }
        Model.IsRelevantToCustody = Model.IsRelevantToCustody || Model.LocationType?.IsCustody == true;
        Model.IsRelevantToCommunity = Model.IsRelevantToCommunity || Model.LocationType?.IsCommunity == true;

        return base.OnInitializedAsync();
    }

    public Action<ValidationStrategy<RiskDto>> Strategy => (options) =>
    {
        options.IncludeProperties(x => x.CommunityRiskDetail.RiskToChildren);
        options.IncludeProperties(x => x.CommunityRiskDetail.RiskToPublic);
        options.IncludeProperties(x => x.CommunityRiskDetail.RiskToKnownAdult);
        options.IncludeProperties(x => x.CommunityRiskDetail.RiskToStaff);
        options.IncludeProperties(x => x.CommunityRiskDetail.RiskToSelfText);

        options.IncludeProperties(x => x.CustodyRiskDetail.RiskToChildren);
        options.IncludeProperties(x => x.CustodyRiskDetail.RiskToPublic);
        options.IncludeProperties(x => x.CustodyRiskDetail.RiskToKnownAdult);
        options.IncludeProperties(x => x.CustodyRiskDetail.RiskToStaff);
        options.IncludeProperties(x => x.CustodyRiskDetail.RiskToOtherPrisoners);
        options.IncludeProperties(x => x.CustodyRiskDetail.RiskToSelfText);

        options.IncludeProperties(x => x.IsRelevantToCommunity);
        options.IncludeProperties(x => x.IsRelevantToCustody);
    };

    public bool HasOptionSelected => Model.IsRelevantToCommunity || Model.IsRelevantToCustody;
}
