@using Cfo.Cats.Application.Features.Objectives.Commands
@using Cfo.Cats.Application.Features.Objectives.DTOs
@using Cfo.Cats.Application.Features.Objectives.Queries
@using Cfo.Cats.Domain.Common.Enums
@using Cfo.Cats.Server.UI.Pages.Objectives
@using Cfo.Cats.Server.UI.Pages.Objectives.Tasks
@using Humanizer

@inherits CatsComponentBase

<style>
    .mud-list-item-child:hover, 
    .mud-list-item-child:focus {
        background-color: initial !important;
    }
</style>

@if(Model is not null)
{
    <MudPaper>
        <MudList T="ObjectiveTaskDto">
            <MudListSubheader Class="py-8">
                <div class="d-flex flex-column flex-sm-row align-center gap-2">
                    <MudSelect @bind-Value="selector" Label="Sort objectives by">
                        <MudSelectItem Value="@("Created")">Date added</MudSelectItem>
                        <MudSelectItem Value="@("Title")">Title</MudSelectItem>
                        <MudSelectItem Value="@("Outstanding")">No. of outstanding tasks</MudSelectItem>
                    </MudSelect>
                    <MudSelect @bind-Value="sortDirection" Label="Direction">
                        <MudSelectItem Value="SortDirection.Ascending">Ascending</MudSelectItem>
                        <MudSelectItem Value="SortDirection.Descending">Descending</MudSelectItem>
                    </MudSelect>
                    <MudSpacer />
                    <MudCheckBox @bind-Value="hideCompleted" Label="Hide completed tasks" Disabled="Model.Any() is false" />
                </div>
                <div class="d-flex gap-4 align-center mt-6">
                    <MudTooltip Text="New objective">
                        <MudIconButton OnClick="AddObjective" Icon="@Icons.Material.Filled.Add" Variant="Variant.Outlined" Class="rounded-circle" />
                    </MudTooltip>
                    <MudText>New objective</MudText>
                </div>
                <MudDivider Class="mt-6" />
            </MudListSubheader>
            @foreach (var objective in Model.OrderByDirection(sortDirection, selectors[selector]))
            {
                var tasks = objective.Tasks
                    .Where(task => task.IsCompleted is false || hideCompleted is false)
                    .OrderBy(task => task.Created);

                <MudListItem Ripple="false" Expanded>
                    <ChildContent>
                        <div class="d-flex gap-2 align-center">
                            <MudText Typo="Typo.subtitle2">@objective.Title</MudText>
                            <MudText>(@tasks.Count(x => x.IsCompleted)/@tasks.Count())</MudText>
                            @if(objective.IsCompleted)
                            {
                                <MudIcon Icon="@Icons.Material.Filled.Lock" Size="Size.Small" />
                                @if (objective.CompletedStatus == CompletionStatus.Done)
                                {
                                    <MudChip Text="@objective.CompletedStatus.Name" Size="Size.Small" Color="Color.Success" Icon="@Icons.Material.Filled.Done" />
                                }
                                else if (objective.CompletedStatus == CompletionStatus.NotRequired)
                                {
                                    <MudChip Text="@objective.CompletedStatus.Name" Size="Size.Small" Color="Color.Dark" Icon="@Icons.Material.Filled.Close" />
                                }
                            }
                        </div>
                    </ChildContent>
                    <NestedList>
                        @foreach (var task in tasks.OrderBy(x => x.Created))
                        {
                            <MudListItem Value="@task" Class="cursor-default mud-list-item-child" Ripple="false" OnClickPreventDefault>
                                <AvatarContent>
                                    @if(task.IsCompleted)
                                    {
                                        <MudIconButton Icon="@Icons.Material.Filled.CheckBox" Disabled />
                                    }
                                    else
                                    {
                                        <MudIconButton OnClick="async() => await ReviewTask(task)" Icon="@Icons.Material.Filled.CheckBoxOutlineBlank"/>
                                    }
                                </AvatarContent>
                                <ChildContent>
                                    <div class="d-flex justify-space-between align-center">
                                        <div>
                                            <div class="d-flex gap-2 align-center">
                                                <MudText>
                                                    @task.Title
                                                </MudText>
                                                @if (task.IsCompleted)
                                                {
                                                    <MudTooltip Text="Completed">
                                                        @if(task.CompletedStatus == CompletionStatus.Done)
                                                        {
                                                            <MudChip Text="@task.CompletedStatus.Name" Size="Size.Small" Color="Color.Success" Icon="@Icons.Material.Filled.Done" />
                                                        }
                                                        else if(task.CompletedStatus == CompletionStatus.NotRequired)
                                                        {
                                                            <MudChip Text="@task.CompletedStatus.Name" Size="Size.Small" Color="Color.Dark" Icon="@Icons.Material.Filled.Close" />
                                                        }
                                                    </MudTooltip>
                                                }
                                                else
                                                {
                                                    if (task.IsOverdue)
                                                    {
                                                        <MudTooltip>
                                                            <TooltipContent>
                                                                Due @task.Due.ToString("MMM, yyyy")
                                                            </TooltipContent>
                                                            <ChildContent>
                                                                <MudChip Text="Overdue" Size="Size.Small" Color="Color.Error" Icon="@Icons.Material.Filled.AccessTime" />
                                                            </ChildContent>
                                                        </MudTooltip>
                                                    }
                                                    else if (task.IsDueSoon)
                                                    {
                                                        <MudTooltip>
                                                            <TooltipContent>
                                                                Due @task.Due.ToString("MMM, yyyy")
                                                            </TooltipContent>
                                                            <ChildContent>
                                                                <MudChip Text="Due soon" Size="Size.Small" Color="Color.Warning" Icon="@Icons.Material.Filled.AccessTime" />
                                                            </ChildContent>
                                                        </MudTooltip>
                                                    }
                                                }
                                            </div>
                                            @if(task.IsCompleted)
                                            {
                                                <MudText Typo="Typo.body2">Completed @task.Completed.Humanize()</MudText>
                                            }
                                            else
                                            {
                                                <MudText Typo="Typo.body2">Due @task.Due.ToString("MMM, yyyy")</MudText>
                                            }
                                        </div>
                                        <div class="d-flex gap-2 align-center mr-4">
                                            <MudTooltip Text="Actions">
                                                <MudMenu Icon="@Icons.Material.Filled.Edit" Variant="Variant.Filled" Disabled="task.IsCompleted" Size="Size.Small" Dense>
                                                    <MudMenuItem OnClick="async() => await ExtendDate(task)">Extend date</MudMenuItem>
                                                    <MudMenuItem OnClick="async() => await RenameTask(task)">Rename</MudMenuItem>
                                                </MudMenu>
                                            </MudTooltip>
                                            <MudTooltip Text="Record">
                                                <MudMenu Icon="@Icons.Material.Filled.LibraryAdd" Variant="Variant.Filled" Size="Size.Small" Dense>
                                                    <MudMenuItem>New Activity</MudMenuItem>
                                                    <MudMenuItem>New ETE</MudMenuItem>
                                                    <MudMenuItem>New PSF</MudMenuItem>
                                                </MudMenu>
                                            </MudTooltip>
                                            <MudTooltip>
                                                <TooltipContent>
                                                    Added @task.Created.Humanize()
                                                </TooltipContent>
                                                <ChildContent>
                                                    <MudIcon Icon="@Icons.Material.Filled.Info" />
                                                </ChildContent>
                                            </MudTooltip>
                                        </div>
                                    </div>
                                </ChildContent>
                            </MudListItem>
                        }
                        <div class="d-flex align-center ml-2 mt-4 mb-2">
                            <MudTooltip Text="Review">
                                <MudIconButton OnClick="async() => await ReviewObjective(objective)" Icon="@Icons.Material.Filled.Lock" Disabled="objective.IsCompleted" />
                            </MudTooltip>
                            <MudTooltip Text="Rename">
                                <MudIconButton OnClick="async() => await RenameObjective(objective)" Icon="@Icons.Material.Filled.EditNote" Disabled="objective.IsCompleted" />
                            </MudTooltip>
                            <MudTooltip Text="New Task">
                                <MudIconButton OnClick="async() => await AddTask(objective)" Icon="@Icons.Material.Filled.Add" Disabled="objective.IsCompleted" />
                            </MudTooltip>
                        </div>
                    </NestedList>
                </MudListItem>
                <MudDivider />
            }
        </MudList>
    </MudPaper>
}

@code {
    private bool hideCompleted = false;

    private string selector = "Created";
    private Dictionary<string, Func<ObjectiveDto, dynamic>> selectors = new()
    {
        { "Created", (objective) => objective.Created },
        { "Title", (objective) => objective.Title },
        { "Outstanding", (objective) => objective.Tasks.Where(task => task.IsCompleted is false).Count() },
    };

    private SortDirection sortDirection = SortDirection.Ascending;

    [Parameter, EditorRequired]
    public required string ParticipantId { get; set; }

    public IEnumerable<ObjectiveDto>? Model { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await OnRefresh();
        await base.OnInitializedAsync();
    }

    private async Task OnRefresh()
    {
        Model = await GetNewMediator().Send(new GetObjectivesByParticipantId.Query()
        {
            ParticipantId = ParticipantId
        }); 
    }

    public async Task AddObjective()
    {
        var command = new AddObjective.Command()
        {
            ParticipantId = ParticipantId
        };

        var parameters = new DialogParameters<AddObjectiveDialog>()
        {
            { x => x.Model, command }
        };

        var options = new DialogOptions { MaxWidth = MaxWidth.Small, FullWidth = true, CloseButton = true };
        var dialog = DialogService.Show<AddObjectiveDialog>("Add objective", parameters, options);

        var state = await dialog.Result;

        if (state!.Canceled is false)
        {
            var result = await GetNewMediator().Send(command);

            if (result.Succeeded)
            {
                await OnRefresh();
            }

        }
    }

    public async Task ReviewObjective(ObjectiveDto objective)
    {
        var command = new ReviewObjective.Command()
        {
            ObjectiveId = objective.Id
        };

        var parameters = new DialogParameters<ReviewObjectiveDialog>()
        {
            { x => x.Model, command }
        };

        var options = new DialogOptions { MaxWidth = MaxWidth.Small, FullWidth = true, CloseButton = true };
        var dialog = DialogService.Show<ReviewObjectiveDialog>("Review objective", parameters, options);

        var state = await dialog.Result;

        if (state!.Canceled is false)
        {
            var result = await GetNewMediator().Send(command);

            if (result.Succeeded)
            {
                await OnRefresh();
            }

        }
    }

    public async Task ReviewTask(ObjectiveTaskDto task)
    {
        var command = new ReviewTask.Command()
        {
            ObjectiveId = task.ObjectiveId,
            TaskId = task.Id
        };

        var parameters = new DialogParameters<ReviewTaskDialog>()
        {
            { x => x.Model, command }
        };

        var options = new DialogOptions { MaxWidth = MaxWidth.Small, FullWidth = true, CloseButton = true };
        var dialog = DialogService.Show<ReviewTaskDialog>("Complete task", parameters, options);

        var state = await dialog.Result;

        if (state!.Canceled is false)
        {
            var result = await GetNewMediator().Send(command);

            if (result.Succeeded)
            {
                await OnRefresh();
            }

        }
    }

    public async Task AddTask(ObjectiveDto to)
    {
        var command = new AddTask.Command()
        {
            ObjectiveId = to.Id
        };

        var parameters = new DialogParameters<AddTaskDialog>()
        {
            { x => x.Model, command }
        };

        var options = new DialogOptions { MaxWidth = MaxWidth.Small, FullWidth = true, CloseButton = true };
        var dialog = DialogService.Show<AddTaskDialog>("Add task to objective", parameters, options);

        var state = await dialog.Result;

        if (state!.Canceled is false)
        {
            var result = await GetNewMediator().Send(command);

            if(result.Succeeded)
            {
                await OnRefresh();
            }

        }
    }

    public async Task ExtendDate(ObjectiveTaskDto task)
    {
        var command = new EditTask.Command()
        {
            TaskId = task.Id,
            ObjectiveId = task.ObjectiveId,
            Title = task.Title,
            Due = task.Due
        };

        var parameters = new DialogParameters<ExtendDateTaskDialog>()
        {
            { x => x.Model, command }
        };

        var options = new DialogOptions { MaxWidth = MaxWidth.Small, FullWidth = true, CloseButton = true };
        var dialog = DialogService.Show<ExtendDateTaskDialog>("Extend date", parameters, options);

        var state = await dialog.Result;

        if (state!.Canceled is false)
        {
            var result = await GetNewMediator().Send(command);

            if (result.Succeeded)
            {
                await OnRefresh();
            }

        }
    }

    public async Task RenameTask(ObjectiveTaskDto task)
    {
        var command = new EditTask.Command()
        {
            TaskId = task.Id,
            ObjectiveId = task.ObjectiveId,
            Title = task.Title,
            Due = task.Due
        };

        var parameters = new DialogParameters<RenameTaskDialog>()
        {
            { x => x.Model, command }
        };

        var options = new DialogOptions { MaxWidth = MaxWidth.Small, FullWidth = true, CloseButton = true };
        var dialog = DialogService.Show<RenameTaskDialog>("Rename task", parameters, options);

        var state = await dialog.Result;

        if (state!.Canceled is false)
        {
            var result = await GetNewMediator().Send(command);

            if (result.Succeeded)
            {
                await OnRefresh();
            }

        }
    }

    public async Task RenameObjective(ObjectiveDto objective)
    {
        var command = new EditObjective.Command()
        {
            ObjectiveId = objective.Id,
            Title = objective.Title
        };

        var parameters = new DialogParameters<RenameObjectiveDialog>()
        {
            { x => x.Model, command }
        };

        var options = new DialogOptions { MaxWidth = MaxWidth.Small, FullWidth = true, CloseButton = true };
        var dialog = DialogService.Show<RenameObjectiveDialog>("Rename objective", parameters, options);

        var state = await dialog.Result;

        if (state!.Canceled is false)
        {
            var result = await GetNewMediator().Send(command);

            if (result.Succeeded)
            {
                await OnRefresh();
            }

        }
    }
}
