@inherits CatsComponentBase

<MudForm ReadOnly>
    <MudGrid Class="pa-3" Spacing="4">
            @if (participant is not null)
            {
                <MudItem sm="12" md="5">
                    <MudCard Style="Height: 100%">
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudText Typo="Typo.h6">Personal Details</MudText>
                            </CardHeaderContent>
                            <CardHeaderActions>
                                <MudTooltip Text="Edit">
                                    <MudIconButton OnClick="EditPersonalInformation" Icon="@Icons.Material.Filled.Edit" />
                                </MudTooltip>
                            </CardHeaderActions>
                            <CardHeaderAvatar>
                                <MudAvatar Color="Color.Primary">
                                    <MudIcon Icon="@Icons.Material.Filled.Person" />
                                </MudAvatar>
                            </CardHeaderAvatar>
                        </MudCardHeader>
                        <MudCardContent>
                            <MudTextField ReadOnly Class="mb-2" Value="personalDetails?.PreferredNames" Label="@personalDetails?.GetMemberDescription(x => x.PreferredNames)" />
                            <MudTextField ReadOnly Class="mb-2" Value="personalDetails?.PreferredPronouns" Label="@personalDetails?.GetMemberDescription(x => x.PreferredPronouns)" Placeholder="i.e. he/him, she/her, they/them" />
                            <MudTextField ReadOnly Class="mb-2" Value="personalDetails?.PreferredTitle" Label="@personalDetails?.GetMemberDescription(x => x.PreferredTitle)" Placeholder="i.e. Mr, Ms, Mx" />
                            <MudTextField ReadOnly Class="mb-2" Value="personalDetails?.AdditionalNotes" Label="@personalDetails?.GetMemberDescription(x => x.AdditionalNotes)" 
                                Placeholder="e.g. Communication preferences, accessibility needs, or important background information"
                                Lines="4" />
                        </MudCardContent>
                    </MudCard>
                </MudItem>
            }
            <MudItem sm="12" md="7">
                <MudCard Style="Height: 100%">
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h6">Address Book</MudText>
                        </CardHeaderContent>
                        <CardHeaderAvatar>
                            <MudAvatar Color="Color.Primary">
                                <MudIcon Icon="@Icons.Material.Filled.ViewList" />
                            </MudAvatar>
                        </CardHeaderAvatar>
                    </MudCardHeader>
                    <MudCardContent>
                        @if(contactDetails.Any() is false)
                        {
                            <MudText>No contact information recorded.</MudText>
                        }
                        <MudExpansionPanels MultiExpansion>
                            @foreach(var detail in contactDetails.OrderByDescending(d => d.Primary).ThenBy(d => d.Created))
                            {
                                <MudExpansionPanel>
                                    <TitleContent>
                                        <div class="d-flex gap-4">
                                            <div class="d-flex gap-2">
                                                <MudTooltip Text="Edit">
                                                    <MudIconButton Icon="@Icons.Material.Filled.Edit" Variant="Variant.Filled" Size="Size.Small" OnClick="() => EditContact(detail)" />
                                                </MudTooltip>
                                                <MudTooltip Text="Delete">
                                                    <MudIconButton Icon="@Icons.Material.Filled.Delete" Variant="Variant.Filled" Size="Size.Small" OnClick="() => DeleteContact(detail)"/>
                                                </MudTooltip>
                                            </div>
                                            <div class="d-flex align-center gap-2">
                                                <MudText>@detail.Description</MudText>
                                                @if(detail.Primary)
                                                {
                                                    <MudChip T="string" Size="Size.Small" Variant="Variant.Text" Color="Color.Primary">Primary</MudChip>
                                                }
                                            </div>
                                        </div>
                                    </TitleContent>
                                    <ChildContent>
                                        <MudTextField Value="detail.Address"
                                                      Label="@detail.GetMemberDescription(x => x.Address)"
                                                      Class="mb-2" />
                                        <MudTextField Value="detail.EmailAddress"
                                                      Label="@detail.GetMemberDescription(x => x.EmailAddress)"
                                                      Class="mb-2" />
                                        <MudTextField Value="detail.MobileNumber"
                                                      Label="@detail.GetMemberDescription(x => x.MobileNumber)"
                                                      Class="mb-2" />
                                    </ChildContent>

                                </MudExpansionPanel>
                            }
                        </MudExpansionPanels>
                    </MudCardContent>
                    <MudCardActions>
                        <MudTooltip Text="Add Contact Information">
                            <MudIconButton Color="Color.Primary" Icon="@Icons.Material.Filled.Add" Variant="Variant.Outlined" OnClick="AddContact" />
                        </MudTooltip>
                    </MudCardActions>
                </MudCard>
            </MudItem>
    </MudGrid>
</MudForm>