@inherits CatsComponentBase

<MudGrid Class="pa-3" Spacing="4">
    <MudItem xs="12" md="4">
        <MudCard Style="Height: 100%;">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">Latest Assessment</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent Class="d-flex justify-space-between align-center">
                
                @if (_latestAssessment is null)
                {
                    <MudText Typo="Typo.body2">No assessment has been created.</MudText>
                }
                else
                {
                    <div>
                        <dl class="description-list">
                            <div class="description-pair">
                                <dt>
                                    <MudText Typo="Typo.subtitle2">Date Created</MudText>
                                </dt>
                                <dd>
                                    <MudText Typo="Typo.body2">@_latestAssessment.AssessmentDate!.Value.ToString("dd/MM/yyyy")</MudText>
                                </dd>
                            </div>
                            <div class="description-pair">
                                <dt>
                                    <MudText Typo="Typo.subtitle2">Created By</MudText>
                                </dt>
                                <dd>
                                    <MudText Typo="Typo.body2">@UserService.DataSource.First(u => u.Id == _latestAssessment.AssessmentCreator).DisplayName</MudText>
                                </dd>
                            </div>
                            
                        </dl>
                       

                    </div>
                    
                }
            </MudCardContent>
            <MudCardActions>
                
                @if (CanBeginAssessment())
                {
                    <MudTooltip Text="Create Assessment">
                        <MudIconButton Color="Color.Primary" Icon="@Icons.Material.Filled.Add" Variant="Variant.Outlined" OnClick="BeginAssessment"/>    
                    </MudTooltip>
                    
                }
                @if (CanContinueAssessment())
                {
                    <MudTooltip Text="Continue Assessment">
                        <MudIconButton Color="Color.Primary" Icon="@Icons.Material.Filled.ChevronRight" Variant="Variant.Outlined" OnClick="ContinueAssessment"/>
                    </MudTooltip>
                }
                @if (CanReassess())
                {
                    <MudTooltip Text="Reassess">
                        <MudIconButton Color="Color.Primary" Icon="@Icons.Material.Filled.Redo" Variant="Variant.Outlined" OnClick="BeginAssessment"/>
                    </MudTooltip>
                }
            </MudCardActions>
        </MudCard>
    </MudItem>
    <MudItem xs="12" md="4">
        <MudCard Style="Height: 100%;">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">Risk Information</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <MudText Typo="Typo.body2">No risk information provided.</MudText>
            </MudCardContent>
            <MudCardActions>
                @if (CanAddRiskInformation())
                {
                    <MudTooltip Text="Add Information">
                        <MudIconButton Color="Color.Primary" Icon="@Icons.Material.Filled.Add" Variant="Variant.Outlined" OnClick="AddRiskInformation" />
                    </MudTooltip>
                }
                @if(CanRenewRiskInformation())
                {
                    <MudTooltip Text="Renew Information">
                        <MudIconButton Color="Color.Primary" Icon="@Icons.Material.Filled.Redo" Variant="Variant.Outlined" OnClick="AddRiskInformation" />
                    </MudTooltip>
                }
            </MudCardActions>
        </MudCard>
    </MudItem>
</MudGrid>