@using Cfo.Cats.Domain.Common.Enums
<MudExpansionPanels Class="pa-3 m-3" MultiExpansion="true">
    <MudExpansionPanel>
        <TitleContent>
            <div class="d-flex">
                <MudIcon Icon="@Pathway.Working.Icon" Color="Color.Primary" class="mr-3" />
                <MudText>@Pathway.Working.Name</MudText>
            </div>
        </TitleContent>
        <ChildContent>
            <MudText>Answers go here</MudText>
        </ChildContent>
    </MudExpansionPanel>
    <MudExpansionPanel>
        <TitleContent>
            <div class="d-flex">
                <MudIcon Icon="@Pathway.Housing.Icon" Color="Color.Primary" class="mr-3" />
                <MudText>@Pathway.Housing.Name</MudText>
            </div>
        </TitleContent>
        <ChildContent>
            <MudText>Answers go here</MudText>
        </ChildContent>
    </MudExpansionPanel>
    <MudExpansionPanel>
        <TitleContent>
            <div class="d-flex">
                <MudIcon Icon="@Pathway.Money.Icon" Color="Color.Primary" class="mr-3" />
                <MudText>@Pathway.Money.Name</MudText>
            </div>
        </TitleContent>
        <ChildContent>
            <MudText>Answers go here</MudText>
        </ChildContent>
    </MudExpansionPanel>
    <MudExpansionPanel>
        <TitleContent>
            <div class="d-flex">
                <MudIcon Icon="@Pathway.Education.Icon" Color="Color.Primary" class="mr-3" />
                <MudText>@Pathway.Education.Name</MudText>
            </div>
        </TitleContent>
        <ChildContent>
            <MudText>Answers go here</MudText>
        </ChildContent>
    </MudExpansionPanel>
    <MudExpansionPanel>
        <TitleContent>
            <div class="d-flex">
                <MudIcon Icon="@Pathway.HealthAndAddiction.Icon" Color="Color.Primary" class="mr-3" />
                <MudText>@Pathway.HealthAndAddiction.Name</MudText>
            </div>
        </TitleContent>
        <ChildContent>
            <MudText>Answers go here</MudText>
        </ChildContent>
    </MudExpansionPanel>
    <MudExpansionPanel>
        <TitleContent>
            <div class="d-flex">
                <MudIcon Icon="@Pathway.Relationships.Icon" Color="Color.Primary" class="mr-3" />
                <MudText>@Pathway.Relationships.Name</MudText>
            </div>
        </TitleContent>
        <ChildContent>
            <MudText>Answers go here</MudText>
        </ChildContent>
    </MudExpansionPanel>
    <MudExpansionPanel>
        <TitleContent>
            <div class="d-flex">
                <MudIcon Icon="@Pathway.WellbeingAndMentalHealth.Icon" Color="Color.Primary" class="mr-3" />
                <MudText>@Pathway.WellbeingAndMentalHealth.Name</MudText>
            </div>
        </TitleContent>
        <ChildContent>
            <MudText>Answers go here</MudText>
        </ChildContent>
    </MudExpansionPanel>
    <MudExpansionPanel>
        <TitleContent>
            <div class="d-flex">
                <MudIcon Icon="@Pathway.ThoughtsAndBehaviours.Icon" Color="Color.Primary" class="mr-3" />
                <MudText>@Pathway.ThoughtsAndBehaviours.Name</MudText>
            </div>
        </TitleContent>
        <ChildContent>
            <MudText>Answers go here</MudText>
        </ChildContent>
    </MudExpansionPanel>
</MudExpansionPanels>