@using Cfo.Cats.Application.Features.Objectives.Commands
@using Cfo.Cats.Application.Features.Objectives.DTOs
@using Cfo.Cats.Application.Features.Objectives.Queries
@using Cfo.Cats.Domain.Common.Enums
@using Cfo.Cats.Server.UI.Pages.Objectives
@using Cfo.Cats.Server.UI.Pages.Objectives.Tasks
@using Humanizer

@inherits CatsComponentBase

<style>
    .mud-list-item-child:hover, 
    .mud-list-item-child:focus {
        background-color: initial !important;
    }
</style>

@if(Model is not null)
{
    <MudPaper>
        <MudList T="ObjectiveTaskDto">
            <MudListSubheader Class="py-8">
                <div class="d-flex">
                    <MudButton Color="Color.Primary" Variant="Variant.Filled" Size="Size.Small">Review Pathway</MudButton>
                </div>
                <MudDivider Class="my-6"/>
                <div class="d-flex">
                    <div class="d-flex gap-4 align-center">
                        <MudTooltip Text="New objective">
                            <MudIconButton OnClick="AddObjective" Icon="@Icons.Material.Filled.Add" Variant="Variant.Outlined" Class="rounded-circle" />
                        </MudTooltip>
                        @if (Model.Any())
                        {
                            <MudText>Add another objective</MudText>
                        }
                        else
                        {
                            <MudText>Add an objective</MudText>
                        }
                    </div>
                    <MudSpacer />
                    <MudCheckBox @bind-Value="hideCompleted" Label="Hide completed tasks" Disabled="Model.Any() is false" />
                </div>
                <MudDivider Class="mt-6"/>
            </MudListSubheader>
            @foreach (var objective in Model.OrderBy(x => x.Created))
            {
                var tasks = objective.Tasks
                    .Where(task => task.IsCompleted is false || hideCompleted is false)
                    .OrderBy(task => task.Created);

                <MudListItem Ripple="false" Expanded>
                    <ChildContent>
                        <div class="d-flex gap-2 align-center">
                            <MudText Typo="Typo.subtitle2">@objective.Title</MudText>
                            <MudText>(@tasks.Count(x => x.IsCompleted)/@tasks.Count())</MudText>
                            @if(tasks.Any())
                            {
                                if (tasks.Any(task => task.IsOverdue))
                                {
                                    <MudIcon Color="Color.Error" Icon="@Icons.Material.Filled.AccessTime" />
                                }
                                else if (tasks.Any(task => task.IsDueSoon))
                                {
                                    <MudIcon Color="Color.Warning" Icon="@Icons.Material.Filled.AccessTime" />
                                }
                                else if (tasks.All(task => task.IsCompleted))
                                {
                                    <MudIcon Color="Color.Success" Icon="@Icons.Material.Filled.Done" />
                                }
                            }
                        </div>
                    </ChildContent>
                    <NestedList>
                        @foreach (var task in tasks.OrderBy(x => x.Created))
                        {
                            <MudListItem Value="@task" Class="cursor-default mud-list-item-child" Ripple="false" OnClickPreventDefault>
                                <AvatarContent>
                                    @if(task.IsCompleted)
                                    {
                                        <MudIconButton Icon="@Icons.Material.Filled.CheckBox" Disabled />
                                    }
                                    else
                                    {
                                        <MudIconButton OnClick="async() => await ReviewTask(task)" Icon="@Icons.Material.Filled.CheckBoxOutlineBlank"/>
                                    }
                                </AvatarContent>
                                <ChildContent>
                                    <div class="d-flex justify-space-between align-center">
                                        <div>
                                            <div class="d-flex gap-2 align-center">
                                                <MudText>
                                                    @task.Title
                                                </MudText>
                                                @if (task.IsCompleted)
                                                {
                                                    <MudTooltip Text="Completed">
                                                        @if(task.CompletedStatus == TaskCompletionStatus.Done)
                                                        {
                                                            <MudChip Text="Done" Size="Size.Small" Color="Color.Success" Icon="@Icons.Material.Filled.Done" />
                                                        }
                                                        else if(task.CompletedStatus == TaskCompletionStatus.Closed)
                                                        {
                                                            <MudChip Text="Closed" Size="Size.Small" Color="Color.Dark" Icon="@Icons.Material.Filled.Close" />
                                                        }
                                                    </MudTooltip>
                                                }
                                                else
                                                {
                                                    if (task.IsOverdue)
                                                    {
                                                        <MudTooltip>
                                                            <TooltipContent>
                                                                Due @task.Due.ToString("MMM, yyyy")
                                                            </TooltipContent>
                                                            <ChildContent>
                                                                <MudChip Text="Overdue" Size="Size.Small" Color="Color.Error" Icon="@Icons.Material.Filled.AccessTime" />
                                                            </ChildContent>
                                                        </MudTooltip>
                                                    }
                                                    else if (task.IsDueSoon)
                                                    {
                                                        <MudTooltip>
                                                            <TooltipContent>
                                                                Due @task.Due.ToString("MMM, yyyy")
                                                            </TooltipContent>
                                                            <ChildContent>
                                                                <MudChip Text="Due soon" Size="Size.Small" Color="Color.Warning" Icon="@Icons.Material.Filled.AccessTime" />
                                                            </ChildContent>
                                                        </MudTooltip>
                                                    }
                                                }
                                            </div>
                                            @if(task.IsCompleted)
                                            {
                                                <MudText Typo="Typo.body2">Completed @task.Completed.Humanize()</MudText>
                                            }
                                            else
                                            {
                                                <MudText Typo="Typo.body2">Due @task.Due.ToString("MMM, yyyy")</MudText>
                                            }
                                        </div>
                                        <div class="d-flex gap-2 align-center mr-4">
                                            <MudTooltip Text="Actions">
                                                <MudMenu Icon="@Icons.Material.Filled.Edit" Variant="Variant.Filled" Disabled="task.IsCompleted" Size="Size.Small" Dense>
                                                    <MudMenuItem OnClick="async() => await ExtendDate(task)">Extend date</MudMenuItem>
                                                    <MudMenuItem OnClick="async() => await RenameTask(task)">Rename</MudMenuItem>
                                                    <MudMenuItem OnClick="async() => await ReviewTask(task, close: true)">Close</MudMenuItem>
                                                </MudMenu>
                                            </MudTooltip>
                                            <MudTooltip Text="Record">
                                                <MudMenu Icon="@Icons.Material.Filled.LibraryAdd" Variant="Variant.Filled" Size="Size.Small" Dense>
                                                    <MudMenuItem>New Activity</MudMenuItem>
                                                    <MudMenuItem>New ETE</MudMenuItem>
                                                    <MudMenuItem>New PSF</MudMenuItem>
                                                </MudMenu>
                                            </MudTooltip>
                                            <MudTooltip>
                                                <TooltipContent>
                                                    Added @task.Created.Humanize()
                                                </TooltipContent>
                                                <ChildContent>
                                                    <MudIcon Icon="@Icons.Material.Filled.Info" />
                                                </ChildContent>
                                            </MudTooltip>
                                        </div>
                                    </div>
                                </ChildContent>
                            </MudListItem>
                        }
                        <div class="ml-6 mb-2">
                            <MudTooltip Text="New Task">
                                <MudIconButton OnClick="async() => await AddTask(objective)" Icon="@Icons.Material.Filled.Add" />
                            </MudTooltip>
                        </div>
                    </NestedList>
                </MudListItem>
                <MudDivider />
            }
        </MudList>
    </MudPaper>
}

@code {
    private bool hideCompleted = false;

    [Parameter, EditorRequired]
    public required string ParticipantId { get; set; }

    public IEnumerable<ObjectiveDto>? Model { get; set; }

    IReadOnlyCollection<ObjectiveTaskDto> SelectedTasks = [];

    protected override async Task OnInitializedAsync()
    {
        await OnRefresh();
        await base.OnInitializedAsync();
    }

    private async Task OnRefresh()
    {
        Model = await GetNewMediator().Send(new GetObjectivesByParticipantId.Query()
        {
            ParticipantId = ParticipantId
        });

        SelectedTasks = Model.SelectMany(objective => objective.Tasks
            .Where(task => task.IsCompleted))
            .ToList()
            .AsReadOnly();   
    }

    public async Task AddObjective()
    {
        var command = new AddObjective.Command()
        {
            ParticipantId = ParticipantId
        };

        var parameters = new DialogParameters<AddObjectiveDialog>()
        {
            { x => x.Model, command }
        };

        var options = new DialogOptions { MaxWidth = MaxWidth.Small, FullWidth = true };
        var dialog = DialogService.Show<AddObjectiveDialog>("Add objective", parameters, options);

        var state = await dialog.Result;

        if (state!.Canceled is false)
        {
            var result = await GetNewMediator().Send(command);

            if (result.Succeeded)
            {
                await OnRefresh();
            }

        }
    }

    public async Task ReviewTask(ObjectiveTaskDto task, bool close = false)
    {
        var command = new ReviewTask.Command()
        {
            ObjectiveId = task.ObjectiveId,
            TaskId = task.Id,
            Close = close
        };

        var parameters = new DialogParameters<ReviewTaskDialog>()
        {
            { x => x.Model, command }
        };

        var options = new DialogOptions { MaxWidth = MaxWidth.Small, FullWidth = true };
        var dialog = DialogService.Show<ReviewTaskDialog>(string.Format("{0} task", close ? "Close" : "Complete"), parameters, options);

        var state = await dialog.Result;

        if (state!.Canceled is false)
        {
            var result = await GetNewMediator().Send(command);

            if (result.Succeeded)
            {
                await OnRefresh();
            }

        }
    }

    public async Task AddTask(ObjectiveDto to)
    {
        var command = new AddTask.Command()
        {
            ObjectiveId = to.Id
        };

        var parameters = new DialogParameters<AddTaskDialog>()
        {
            { x => x.Model, command }
        };

        var options = new DialogOptions { MaxWidth = MaxWidth.Small, FullWidth = true };
        var dialog = DialogService.Show<AddTaskDialog>("Add task to objective", parameters, options);

        var state = await dialog.Result;

        if (state!.Canceled is false)
        {
            var result = await GetNewMediator().Send(command);

            if(result.Succeeded)
            {
                await OnRefresh();
            }

        }
    }

    public async Task ExtendDate(ObjectiveTaskDto task)
    {
        var command = new EditTask.Command()
        {
            TaskId = task.Id,
            ObjectiveId = task.ObjectiveId,
            Title = task.Title,
            Due = task.Due
        };

        var parameters = new DialogParameters<ExtendDateTaskDialog>()
        {
            { x => x.Model, command }
        };

        var options = new DialogOptions { MaxWidth = MaxWidth.Small, FullWidth = true };
        var dialog = DialogService.Show<ExtendDateTaskDialog>("Extend date", parameters, options);

        var state = await dialog.Result;

        if (state!.Canceled is false)
        {
            var result = await GetNewMediator().Send(command);

            if (result.Succeeded)
            {
                await OnRefresh();
            }

        }
    }

    public async Task RenameTask(ObjectiveTaskDto task)
    {
        var command = new EditTask.Command()
        {
            TaskId = task.Id,
            ObjectiveId = task.ObjectiveId,
            Title = task.Title,
            Due = task.Due
        };

        var parameters = new DialogParameters<RenameTaskDialog>()
        {
            { x => x.Model, command }
        };

        var options = new DialogOptions { MaxWidth = MaxWidth.Small, FullWidth = true };
        var dialog = DialogService.Show<RenameTaskDialog>("Rename task", parameters, options);

        var state = await dialog.Result;

        if (state!.Canceled is false)
        {
            var result = await GetNewMediator().Send(command);

            if (result.Succeeded)
            {
                await OnRefresh();
            }

        }
    }

}
