@using Cfo.Cats.Application.Features.Activities.Queries
@using Cfo.Cats.Application.Features.AuditTrails.Caching
@using Cfo.Cats.Application.Features.AuditTrails.DTOs
@using Cfo.Cats.Application.Features.AuditTrails.Queries.GetSystemAuditTrailsWithPagination
@using Cfo.Cats.Application.Features.AuditTrails.Specifications.SystemAuditTrail
@using Cfo.Cats.Application.Features.PathwayPlans.Queries
@using Humanizer
@inherits CatsComponentBase

@inject IStringLocalizer<ParticipantAudit> L

<MudDataGrid ServerData="@(ServerReload)"
             T="AuditTrailDto"
             FixedHeader="true"
             FixedFooter="true"
             Virtualize="true"
             @bind-RowsPerPage="_defaultPageSize"
             Height="calc(100vh - 350px)"
             Loading="@_loading"
             Hover="true" @ref="_table"
             BreakPoint="Breakpoint.Sm">
    <ToolBarContent>
        <MudGrid Class="w-100">
            <MudItem xs="12" sm="6" md="3">
                <MudEnumSelect Style="min-width:120px" TEnum="SystemAuditTrailListView" ValueChanged="OnChangedListView" Value="Query.ListView" Dense="true" Label="List View">
                </MudEnumSelect>
            </MudItem>
            <MudItem xs="12" sm="6" md="3">
                    <MudSelect T="ListEntry"
                               Label="View Audit for"
                               MultiSelection="false"
                               ValueChanged="@(OnValueChanged!)">
                        @foreach (var item in _entries)
                        {
                            <MudSelectItem T="ListEntry" Value="item">
                                @item.Title
                            </MudSelectItem>
                        }
                    </MudSelect>
            </MudItem>
            <MudItem xs="12" sm="6" md="3">
                <MudEnumSelect TEnum="AuditType?" Label="Edit Type" Placeholder="@L["Search for audit type"]" Value="@Query.AuditType" Clearable="true" ValueChanged="@(s => OnSearch(s!))" FullWidth="true">
    
                </MudEnumSelect>
            </MudItem>
            <MudItem xs="12" sm="6" md="3">
                <MudButton Variant="Variant.Filled"
                           Size="Size.Small"
                           OnClick="@OnRefresh"
                           StartIcon="@Icons.Material.Filled.Refresh" 
                           Color="Color.Secondary">
                    @ConstantString.Refresh
                </MudButton>
            </MudItem>
        </MudGrid>

    </ToolBarContent>
    <Columns>
        <HierarchyColumn T="AuditTrailDto" ButtonDisabledFunc="@(x => x.AuditType == AuditType.None)" />
        <PropertyColumn Property="x => x.UserId" Title="@L[_currentDto.GetMemberDescription(x => x.UserId)]">
            <CellTemplate>
                <div class="d-flex flex-column">
                    <MudText Typo="Typo.body2">@context.Item.Owner?.UserName</MudText>
                    <MudText Typo="Typo.body2" Class="mud-text-secondary">@context.Item.UserId</MudText>
                </div>
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.AuditType" Title="@L[_currentDto.GetMemberDescription(x => x.AuditType)]" />
        <PropertyColumn Property="x => x.TableName" Title="@L[_currentDto.GetMemberDescription(x => x.TableName)]" />
        <PropertyColumn Property="x => x.PrimaryKey" Title="@L[_currentDto.GetMemberDescription(x => x.PrimaryKey)]" />
        <PropertyColumn Property="x => x.DateTime" Title="@L[_currentDto.GetMemberDescription(x => x.DateTime)]">
            <CellTemplate>
                <ToLocal DateTime="@context.Item.DateTime.ToLocalTime()" Format="dd/mm/yyyy HH:MM:ss"></ToLocal>
            </CellTemplate>
        </PropertyColumn>
    </Columns>
    <ChildRowContent>
        <MudCard Elevation="0" Class="d-flex flex-grow-0">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.body1">
                        <strong>@L[context.Item.TableName!]</strong>
                    </MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent Class="py-3">
                <MudSimpleTable Hover="true" Bordered="true">
                    <thead>
                        <tr>
                            <th>@L["Field Name"]</th>
                            <th>@L[_currentDto.GetMemberDescription(x => x.OldValues)]</th>
                            <th>@L[_currentDto.GetMemberDescription(x => x.NewValues)]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var field in context.Item.NewValues?.Any() ?? false ? context.Item.NewValues : context.Item.OldValues?.Any() ?? false ? context.Item.OldValues : new Dictionary<string, object?>())
                        {
                            <tr>
                                <td>@field.Key.Humanize(LetterCasing.Title)</td>
                                <td class="mud-text-secondary">@(context.Item.OldValues?.ContainsKey(field.Key) ?? false ? context.Item.OldValues[field.Key] : string.Empty)</td>
                                <td>@(context.Item.NewValues?.ContainsKey(field.Key) ?? false ? context.Item.NewValues[field.Key] : string.Empty)</td>
                            </tr>
                        }
                    </tbody>
                </MudSimpleTable>
            </MudCardContent>
        </MudCard>
    </ChildRowContent>
    <NoRecordsContent>
        <MudText>@ConstantString.NoRecords</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>@ConstantString.Loading</MudText>
    </LoadingContent>
    <PagerContent>
        <MudDataGridPager PageSizeOptions="@(new[] { 10, 15, 30, 50, 100, 500, 1000 })" />
    </PagerContent>
</MudDataGrid>