@using Cfo.Cats.Domain.ValueObjects

<div style="position: relative; display: inline-block;">
    @if (TooltipContent is not null)
    {
        <MudTooltip Placement="Placement.Top">
            <ChildContent>
                <MudChip T="string"
                         Icon="@Cfo.Cats.Domain.Common.Enums.Pathway.FromName(Pathway.Pathway).Icon"
                         Label="true"
                         Color="@(Pathway.Score >= 0 ? GetColor(Pathway.Score) : Color.Primary)"
                         Disabled="@(Pathway.Score < 0)">
                    @Pathway.Pathway
                </MudChip>
            </ChildContent>
            <TooltipContent>
                @TooltipContent
            </TooltipContent>
        </MudTooltip>
    }
    else
    {
        <MudChip T="string"
                 Icon="@Cfo.Cats.Domain.Common.Enums.Pathway.FromName(Pathway.Pathway).Icon"
                 Label="true"
                 Color="@(Pathway.Score >= 0 ? GetColor(Pathway.Score) : Color.Primary)"
                 Disabled="@(Pathway.Score < 0)">
            @Pathway.Pathway
        </MudChip>
    }
</div>

@code {
    [Parameter, EditorRequired]
    public PathwayScore Pathway { get; set; } = default!;

    [Parameter]
    public RenderFragment? TooltipContent { get; set; }

    private Color GetColor(double ragScore) =>
        ragScore switch
        {
            > 25 => Color.Success,
            >= 10 => Color.Warning,
            _ => Color.Error,
        };
}
