@page "/pages/participants/movedparticipants"

@using Cfo.Cats.Application.Features.Participants.DTOs
@using Cfo.Cats.Application.Features.Participants.Queries
@using Cfo.Cats.Application.SecurityConstants
@using Humanizer
@using static Cfo.Cats.Application.Features.Participants.Queries.GetParticipantsWithAccessEndingSoon

@inherits CatsComponentBase

@attribute [Authorize(Policy = SecurityPolicies.AuthorizedUser)]

<MudSimpleTable Class="pa-4">
    <thead>
        <tr>
            <div class="d-flex align-start flex-grow-1">
                <div class="d-flex gap-4">
                    <MudIcon Icon="@Icons.Material.Filled.People" Size="Size.Large" />
                    <div class="d-flex flex-column">
                        <MudText Typo="Typo.caption">Participants you are losing access to</MudText>
                    </div>
                </div>
            </div>
        </tr>
        <tr>
            <th>Participant</th>
            <th>Accessible Until</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var access in participantAccess.OrderBy(p => p.HasAccessTo))
        {
            <tr>
                <td>
                    <div class="d-flex flex-column">
                        <MudText Typo="Typo.body2">@access.FullName</MudText>
                        <MudText Typo="Typo.body2">@access.ParticipantId</MudText>
                    </div>
                </td>
                <td>
                    <MudText Typo="Typo.body2">
                        @access.HasAccessTo.ToLocalTime().ToShortDateString() (@access.HasAccessTo.Humanize())
                    </MudText>
                </td>
                <td>
                    <MudButton Color="Color.Primary" Variant="Variant.Outlined" Size="Size.Small" OnClick="@(()=> View(access.ParticipantId))">View</MudButton>
                </td>
            </tr>
        }
        <tr>
            <td colspan="6">
                <div class="d-flex justify-center">
                    <MudText Typo="Typo.caption">
                        @participantAccess.Count() participant(s)
                    </MudText>
                </div>
            </td>
        </tr>
    </tbody>
</MudSimpleTable>