@page "/pages/qa/activities/escalation/{id:guid}"

@attribute [Authorize(Policy = SecurityPolicies.SeniorInternal)]

@using Cfo.Cats.Application.Common.Validators
@using Cfo.Cats.Application.Features.Activities.Commands
@using Cfo.Cats.Application.Features.Activities.DTOs
@using Cfo.Cats.Application.Features.Activities.Queries
@using Cfo.Cats.Application.SecurityConstants
@using Cfo.Cats.Domain.Common.Enums
@using Cfo.Cats.Server.UI.Pages.QA.Activities.Components
@inherits CatsComponentBase

<style>
    .document-container {
        width: 90%;
        height: calc(100vh - 350px);
        display: flex;
        justify-content: center;
        align-items: center;
    }
  
</style>

<ActivityQaExternalMessageWarning @ref="warningMessage" />

@if (_activityQaDetailsDto is not null && _activityQaDetailsDto.Status== ActivityStatus.SubmittedToAuthorityStatus)
{
    @if (_queueEntry!.IsAccepted || _queueEntry.IsCompleted)
    {
        <MudAlert Severity="Severity.Warning">
            This entry has already been processed
        </MudAlert>
    }

    <MudGrid Style="height: 100vh; width: 100%;">
        <MudItem xs="4" Style="height: calc(100vh - 150px); width: 100%;">
            <ActivityQaDetails Activity="_activityQaDetailsDto" />
        </MudItem>

        <MudItem xs="8" Style="height: 100%; width: 100%;">
            <MudTabs>
                <MudTabPanel Text="QA Notes">
                    <QaNotes ActivityId="@_activityQaDetailsDto.ActivityId" />
                </MudTabPanel>

                <MudTabPanel Text="Previous Activities" Style="min-width: 185px;" BadgeColor="Color.Info">
                    <PreviousActivitiesPanel ActivityId="@_activityQaDetailsDto.ActivityId" />
                </MudTabPanel>

                <MudTabPanel Text="Attachment" Style="min-width: 185px;" BadgeColor="Color.Info">                    
                    <AttachmentTabPanel ActivityQaDetailsDto="_activityQaDetailsDto" />
                </MudTabPanel>

                <MudTabPanel Text="Submission">
                    @if (_queueEntry.IsCompleted == false)
                    {
                        <MudForm Model="@Command" @ref="_form" Validation="@(Validator.ValidateValue(Command))">
                            <MudItem xs="12">
                                <MudRadioGroup T="SubmitActivityEscalationResponse.EscalationResponse?" @bind-Value="Command.Response" For="@(() => Command.Response)" @bind-Value:after="OnResponseChanged" Required="true">
                                    <MudRadio T="SubmitActivityEscalationResponse.EscalationResponse?" Value="SubmitActivityEscalationResponse.EscalationResponse.Accept" Color="Color.Primary">
                                        Accept
                                    </MudRadio>
                                    <MudRadio T="SubmitActivityEscalationResponse.EscalationResponse?" Value="SubmitActivityEscalationResponse.EscalationResponse.Return" Color="Color.Secondary">
                                        Return
                                    </MudRadio>
                                    <MudRadio T="SubmitActivityEscalationResponse.EscalationResponse?" Value="SubmitActivityEscalationResponse.EscalationResponse.Comment" Color="Color.Secondary">
                                        Comment / Defer
                                    </MudRadio>
                                </MudRadioGroup>
                            </MudItem>

                            <MudAlert Severity="Severity.Info" Variant="Variant.Outlined">
                                This comment will only be visible to internal members of CFO staff
                            </MudAlert>

                            <MudGrid Class="py-4">
                                <MudItem xs="12" md="9" xl="10">
                                    <MudTextField @bind-Value="Command.Message" Label="Internal Message" Lines="5" For="() => Command.Message" MaxLength="@ValidationConstants.NotesLength" Immediate="true" />
                                    <MudText Class="ml-2">Characters: @(Command.Message?.Length ?? 0) / 1000</MudText>
                                </MudItem>
                            </MudGrid>

                            @if (Command.Response == SubmitActivityEscalationResponse.EscalationResponse.Accept)
                            {        
                                <MudDivider Class="py-4" />

                                <MudItem xs="12">
                                    <MudRadioGroup T="Cfo.Cats.Domain.Common.Enums.FeedbackType?" @bind-Value="Command.FeedbackType" For="@(() => Command.FeedbackType)">
                                        <MudRadio T="Cfo.Cats.Domain.Common.Enums.FeedbackType?" Value="Cfo.Cats.Domain.Common.Enums.FeedbackType.NotApplicable" Color="Color.Default">
                                            N/A
                                        </MudRadio>
                                        <MudRadio T="Cfo.Cats.Domain.Common.Enums.FeedbackType?" Value="Cfo.Cats.Domain.Common.Enums.FeedbackType.Advisory" Color="Color.Primary">
                                            Advisory
                                        </MudRadio>
                                        <MudRadio T="Cfo.Cats.Domain.Common.Enums.FeedbackType?" Value="Cfo.Cats.Domain.Common.Enums.FeedbackType.AcceptedByException" Color="Color.Secondary">
                                            Accepted By Exception
                                        </MudRadio>
                                        <MudRadio T="Cfo.Cats.Domain.Common.Enums.FeedbackType?" Value="Cfo.Cats.Domain.Common.Enums.FeedbackType.Returned" Color="Color.Secondary" Disabled="true">
                                            Returned
                                        </MudRadio>  
                                    </MudRadioGroup>
                                </MudItem>
                                
                                <MudAlert Severity="Severity.Warning" Variant="Variant.Outlined">
                                    This comment will be visible to PQA (and internal members of CFO staff)
                                </MudAlert>
                                
                                <MudGrid Class="py-4">
                                    <MudItem xs="12" md="9" xl="10">
                                        <MudTextField @bind-Value="Command.MessageToProvider" Label="External Message" Lines="5" For="() => Command.MessageToProvider" MaxLength="@ValidationConstants.NotesLength" Immediate="true" />
                                        <MudText Class="ml-2">Characters: @(Command.MessageToProvider?.Length ?? 0) / 1000</MudText>
                                    </MudItem>
                                </MudGrid>
                            }
                            
                            @if (Command.Response == SubmitActivityEscalationResponse.EscalationResponse.Return)
                            {
                                <MudDivider Class="py-4" />

                                <MudItem xs="12">
                                    <MudRadioGroup T="Cfo.Cats.Domain.Common.Enums.FeedbackType?" @bind-Value="Command.FeedbackType" For="@(() => Command.FeedbackType)">
                                        <MudRadio T="Cfo.Cats.Domain.Common.Enums.FeedbackType?" Value="Cfo.Cats.Domain.Common.Enums.FeedbackType.NotApplicable" Color="Color.Default" Disabled="true">
                                            N/A
                                        </MudRadio>                                        
                                        <MudRadio T="Cfo.Cats.Domain.Common.Enums.FeedbackType?" Value="Cfo.Cats.Domain.Common.Enums.FeedbackType.Advisory" Color="Color.Default" Disabled="true">
                                            Advisory
                                        </MudRadio>
                                        <MudRadio T="Cfo.Cats.Domain.Common.Enums.FeedbackType?" Value="Cfo.Cats.Domain.Common.Enums.FeedbackType.AcceptedByException" Color="Color.Secondary" Disabled="true">
                                            Accepted By Exception
                                        </MudRadio>
                                        <MudRadio T="Cfo.Cats.Domain.Common.Enums.FeedbackType?" Value="Cfo.Cats.Domain.Common.Enums.FeedbackType.Returned" Color="Color.Secondary" Disabled="true">
                                            Returned
                                        </MudRadio>  
                                    </MudRadioGroup>
                                </MudItem>
                                
                                <MudAlert Severity="Severity.Warning" Variant="Variant.Outlined">
                                    This comment will be visible to PQA (and internal members of CFO staff)
                                </MudAlert>
                                
                                <MudGrid Class="py-4">
                                    <MudItem xs="12" md="9" xl="10">
                                        <MudTextField @bind-Value="Command.MessageToProvider" Label="External Message" Lines="5" For="() => Command.MessageToProvider" MaxLength="@ValidationConstants.NotesLength" Immediate="true" />
                                        <MudText Class="ml-2">Characters: @(Command.MessageToProvider?.Length ?? 0) / 1000</MudText>
                                    </MudItem>
                                </MudGrid>
                            }
                        </MudForm>

                        <MudContainer Class="d-flex px-0 pt-8">
                            <MudButton Color="Color.Primary" OnClick="SubmitToQa" Variant="Variant.Filled">Submit</MudButton>
                        </MudContainer>
                    }                            
                    else
                    {
                        <MudAlert Variant="Variant.Outlined" Severity="Severity.Info">
                            This entry has already been processed
                        </MudAlert>
                    }
                </MudTabPanel>
            </MudTabs>
        </MudItem>
    </MudGrid>
}

@code {
    private ActivityQaExternalMessageWarning? warningMessage;
    private MudForm? _form;
    private ActivityQueueEntryDto? _queueEntry;
    private ActivityQaDetailsDto? _activityQaDetailsDto = null;

    [Parameter] public Guid Id { get; set; }

    [CascadingParameter] public UserProfile? UserProfile { get; set; }

    private SubmitActivityEscalationResponse.Command Command { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        if (_activityQaDetailsDto is null)
        {
            var result = await GetNewMediator().Send(new GetActivityEscalationEntryById.Query
            {
                Id = Id,
                CurrentUser = UserProfile
            });

            if (result.Succeeded)
            {
                _queueEntry = result.Data!;

                var activity = await GetNewMediator().Send(new GetActivityById.Query()
                {
                    Id = _queueEntry.ActivityId
                });

                _activityQaDetailsDto = Mapper.Map<ActivityQaDetailsDto>(activity);
                _activityQaDetailsDto.ActivityId = activity!.Id;

                Command = new SubmitActivityEscalationResponse.Command
                {
                    ActivityQueueEntryId = Id,
                    CurrentUser = UserProfile
                };
            }

            StateHasChanged();
        }
    }

    protected async Task SubmitToQa()
    {
        await _form!.Validate();
        if (_form.IsValid is false)
        {
            return;
        }

        bool submit = true;

        if (Command is { MessageToProvider.Length: > 0 })
        {
            submit = await warningMessage!.ShowAsync();
        }

        if (submit)
        {
            var result = await GetNewMediator().Send(Command);      

            if (result.Succeeded)
            {
				var message = Command.Response switch
				{
					SubmitActivityEscalationResponse.EscalationResponse.Accept => "Activity accepted",
					SubmitActivityEscalationResponse.EscalationResponse.Return => "Activity returned to PQA",
					_ => "Comment added"
				};

                Snackbar.Add(message, Severity.Info);
                Navigation.NavigateTo("/pages/qa/activities/activities");
            }
            else
            {
				var message = Command.Response switch
				{
					SubmitActivityEscalationResponse.EscalationResponse.Accept => "Failed to accept activity",
					SubmitActivityEscalationResponse.EscalationResponse.Return => "Failed to return activity",
					_ => "Failed to add Comment"
				};

                ShowActionFailure(message, result);
            }
        }
    }

    private void ShowActionFailure(string title, IResult result)
    {
        Snackbar.Add(
            @<div>
                <h2>@title</h2>
                <ul>
                    @foreach (var e in result.Errors)
                    {
                        <li>@e</li>
                    }
                </ul>
            </div>
            , Severity.Error, options =>
            {
                options.RequireInteraction = true;
                options.SnackbarVariant = Variant.Text;
            });
    }

    private int characterCount => Command.Message?.Length ?? 0;
    private void OnResponseChanged()
    {
        if (Command.Response == SubmitActivityEscalationResponse.EscalationResponse.Accept)
        {
            Command.FeedbackType = null;
            Command.MessageToProvider = string.Empty;
        }
        else if (Command.Response == SubmitActivityEscalationResponse.EscalationResponse.Return)
        {
            Command.FeedbackType = FeedbackType.Returned;
            Command.MessageToProvider = string.Empty;
        }
        else if (Command.Response == SubmitActivityEscalationResponse.EscalationResponse.Comment)
        {
            Command.FeedbackType = null;
            Command.MessageToProvider = string.Empty;
        }
    }
}