@page "/pages/qa/activities/qa2/"

@using Cfo.Cats.Application.Common.Validators
@using Cfo.Cats.Application.Features.Activities.Commands
@using Cfo.Cats.Application.SecurityConstants
@using Cfo.Cats.Domain.Common.Enums
@using Cfo.Cats.Server.UI.Pages.QA.Activities.Components

@inherits CatsComponentBase

@attribute [Authorize(Policy = SecurityPolicies.Qa2)]

<style>
    .document-container {
        width: 90%;
        height: calc(100vh - 350px);
        display: flex;
        justify-content: center;
        align-items: center;
    }

</style>

<ActivityQaExternalMessageWarning @ref="_warningMessage" />

<MudContainer Style="width: 100%; min-width: 480px;" MaxWidth="MaxWidth.ExtraLarge">
    <MudText Typo="Typo.h5" Class="mb-5">
        CFO Activity Queue Second Pass
    </MudText>

    @if (_activityQaDetailsDto is null)
    {
        <MudButton OnClick="GetQueueItem" ButtonType="ButtonType.Button" StartIcon="@Icons.Material.Filled.QueuePlayNext"
        Variant="Variant.Filled" Color="Color.Primary">
            Get Next
        </MudButton>
    }

    @if (_activityQaDetailsDto is not null && _activityQaDetailsDto.Status== ActivityStatus.SubmittedToAuthorityStatus)
    {

        @if (_queueEntry!.IsAccepted)
        {
            <MudAlert Severity="Severity.Warning">
                This entry has already been processed
            </MudAlert>
        }

        <MudGrid Style="height: 100vh; width: 100%;">
            <MudItem xs="4" Style="height: calc(100vh - 150px); width: 100%;">
                <ActivityQaDetails Activity="_activityQaDetailsDto" />
            </MudItem>

            <MudItem xs="8" Style="height: 100%; width: 100%;">
                <MudTabs>
                    <MudTabPanel Text="QA Notes">
                        <MudItem xs="12" md="9" xl="10">
                            First Pass User:  @_queueEntry.Qa1CompletedBy
                        </MudItem>
                        <QaNotes ActivityId="@_activityQaDetailsDto.ActivityId"/>
                    </MudTabPanel>

                    <MudTabPanel Text="Previous Activities" Style="min-width: 185px;" BadgeColor="Color.Info">
                        <PreviousActivitiesPanel ActivityId="@_activityQaDetailsDto.ActivityId" />
                    </MudTabPanel>

                    <MudTabPanel Text="Attachment" Style="min-width: 185px;" BadgeColor="Color.Info">                        
                        <AttachmentTabPanel ActivityQaDetailsDto="_activityQaDetailsDto" />
                    </MudTabPanel>
                    <MudTabPanel Text="Submission">
                        @if (_queueEntry.IsCompleted == false)
                        {
                            <MudForm Model="@Command" @ref="_form" Validation="@(Validator.ValidateValue(Command))">
                                
                                <MudItem xs="12">
                                    <MudRadioGroup T="SubmitActivityQa2Response.Qa2Response?" @bind-Value="Command.Response" For="@(() => Command.Response)" @bind-Value:after="OnResponseChanged" Required="true">
                                        <MudRadio T="SubmitActivityQa2Response.Qa2Response?" Value="SubmitActivityQa2Response.Qa2Response.Accept" Color="Color.Primary">
                                            Accept
                                        </MudRadio>
                                        <MudRadio T="SubmitActivityQa2Response.Qa2Response?" Value="SubmitActivityQa2Response.Qa2Response.Return" Color="Color.Secondary">
                                            Return
                                        </MudRadio>
                                        <MudRadio T="SubmitActivityQa2Response.Qa2Response?" Value="SubmitActivityQa2Response.Qa2Response.Escalate" Color="Color.Secondary">
                                            Escalate
                                        </MudRadio>
                                    </MudRadioGroup>
                                </MudItem>

                                <MudAlert Severity="Severity.Info" Variant="Variant.Outlined">
                                    This comment will only be visible to internal members of CFO staff
                                </MudAlert>

                                <MudGrid Class="py-4">
                                    <MudItem xs="12" md="9" xl="10">
                                        <MudTextField @bind-Value="Command.Message" Label="Internal Message" Lines="5" For="() => Command.Message" MaxLength="@ValidationConstants.NotesLength" Immediate="true" />
                                        <MudText Class="ml-2">Characters: @(Command.Message?.Length ?? 0) / 1000</MudText>
                                    </MudItem>
                                </MudGrid>

                                
                                @if (Command.Response == SubmitActivityQa2Response.Qa2Response.Accept)
                                {                                
                                    <MudDivider Class="py-4" />
                                    
                                    <MudItem xs="12">
                                        <MudRadioGroup T="Cfo.Cats.Domain.Common.Enums.FeedbackType?" @bind-Value="Command.FeedbackType" For="@(() => Command.FeedbackType)">
                                            <MudRadio T="Cfo.Cats.Domain.Common.Enums.FeedbackType?" Value="Cfo.Cats.Domain.Common.Enums.FeedbackType.NotApplicable" Color="Color.Default">
                                                N/A
                                            </MudRadio>
                                            <MudRadio T="Cfo.Cats.Domain.Common.Enums.FeedbackType?" Value="Cfo.Cats.Domain.Common.Enums.FeedbackType.Advisory" Color="Color.Primary">
                                                Advisory
                                            </MudRadio>
                                            <MudRadio T="Cfo.Cats.Domain.Common.Enums.FeedbackType?" Value="Cfo.Cats.Domain.Common.Enums.FeedbackType.AcceptedByException" Color="Color.Secondary">
                                                Accepted By Exception
                                            </MudRadio>
                                            <MudRadio T="Cfo.Cats.Domain.Common.Enums.FeedbackType?" Value="Cfo.Cats.Domain.Common.Enums.FeedbackType.Returned" Color="Color.Secondary" Disabled="true">
                                                Returned
                                            </MudRadio>                                        
                                        </MudRadioGroup>
                                    </MudItem>
                                    
                                    <MudAlert Severity="Severity.Warning" Variant="Variant.Outlined">
                                        This comment will be visible to PQA (and internal members of CFO staff)
                                    </MudAlert>
                                    
                                    <MudGrid Class="py-4">
                                        <MudItem xs="12" md="9" xl="10">
                                            <MudTextField @bind-Value="Command.MessageToProvider" Label="External Message" Lines="5" For="() => Command.MessageToProvider" MaxLength="@ValidationConstants.NotesLength" Immediate="true" />
                                            <MudText Class="ml-2">Characters: @(Command.MessageToProvider?.Length ?? 0) / 1000</MudText>
                                        </MudItem>
                                    </MudGrid>                                    
                                }
                                
                                @if (Command.Response == SubmitActivityQa2Response.Qa2Response.Return)
                                {
                                    <MudDivider Class="py-4" />

                                    <MudItem xs="12">
                                        <MudRadioGroup T="Cfo.Cats.Domain.Common.Enums.FeedbackType?" @bind-Value="Command.FeedbackType" For="@(() => Command.FeedbackType)">
                                            <MudRadio T="Cfo.Cats.Domain.Common.Enums.FeedbackType?" Value="Cfo.Cats.Domain.Common.Enums.FeedbackType.NotApplicable" Color="Color.Default" Disabled="true">
                                                N/A
                                            </MudRadio>
                                            <MudRadio T="Cfo.Cats.Domain.Common.Enums.FeedbackType?" Value="@Cfo.Cats.Domain.Common.Enums.FeedbackType.Advisory" Color="Color.Default" Disabled="true">
                                                Advisory
                                            </MudRadio>
                                            <MudRadio T="Cfo.Cats.Domain.Common.Enums.FeedbackType?" Value="Cfo.Cats.Domain.Common.Enums.FeedbackType.AcceptedByException" Color="Color.Secondary" Disabled="true">
                                                Accepted By Exception
                                            </MudRadio>
                                            <MudRadio T="Cfo.Cats.Domain.Common.Enums.FeedbackType?" Value="Cfo.Cats.Domain.Common.Enums.FeedbackType.Returned" Color="Color.Secondary" Disabled="true">
                                                Returned
                                            </MudRadio>                                        
                                        </MudRadioGroup>
                                    </MudItem>
                                    
                                    <MudAlert Severity="Severity.Warning" Variant="Variant.Outlined">
                                        This comment will be visible to PQA (and internal members of CFO staff)
                                    </MudAlert>
                                    
                                    <MudGrid Class="py-4">
                                        <MudItem xs="12" md="9" xl="10">
                                            <MudTextField @bind-Value="Command.MessageToProvider" Label="External Message" Lines="5" For="() => Command.MessageToProvider" MaxLength="@ValidationConstants.NotesLength" Immediate="true" />
                                            <MudText Class="ml-2">Characters: @(Command.MessageToProvider?.Length ?? 0) / 1000</MudText>
                                        </MudItem>
                                    </MudGrid>
                                }
                            </MudForm>

                            <MudContainer Class="d-flex px-0 pt-8">
                                <MudButton Color="Color.Primary" OnClick="SubmitToQa" Variant="Variant.Filled">Submit</MudButton>
                            </MudContainer>                            
                            
                        }
                        else
                        {
                            <MudAlert Variant="Variant.Filled" Severity="Severity.Info">
                                This entry has already been processed
                            </MudAlert>
                        }
                    </MudTabPanel>
                </MudTabs>
            </MudItem>
        </MudGrid>
    }
</MudContainer>

@code {
    private RenderFragment RenderFailure(string title, IResult result) =>
        @<div>
            <h2>@title</h2>
            <ul>
                @foreach (var e in result.Errors)
                {
                    <li>@e</li>
                }
            </ul>
        </div>;
}