@page "/pages/qa/enrolments/pqa/{upci}"

@using Cfo.Cats.Application.Features.Documents.Queries
@using Cfo.Cats.Application.Features.Participants.Commands.Transistion
@using Cfo.Cats.Application.Features.Participants.DTOs
@using Cfo.Cats.Application.Features.Participants.Queries
@using Cfo.Cats.Domain.Common.Enums

@inherits CatsComponentBase

<style>
    .document-container {
        width: 90%;
        height: calc(100vh - 150px);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .full-size-object {
        width: 100%;
        height: 100%;
    }

    .mud-radio {
        display: block;
        margin-bottom: 0.5rem; 
    }
    
</style>

<h3>@upci</h3>




@if (_participantDto is not null && _participantDto.EnrolmentStatus!.IsQaStage())
{
    <MudGrid Style="height: 100vh; width: 100vw;">
        <MudItem xs="4" Style="height: calc(100vh - 150px); width: 100%;">
            <MudText Typo="Typo.h2">
                Participant
            </MudText>


          

            <MudList T="string">
                <MudListItem T="string" Text="@_participantDto.Id"></MudListItem>
                <MudListItem T="string" Text="@_participantDto.FirstName"></MudListItem>
                <MudListItem T="string" Text="@_participantDto.LastName"></MudListItem>
                <MudListItem T="string" Text="@_participantDto.DateOfBirth.ToString()"></MudListItem>
                <MudListItem T="string" Text="@_participantDto.CurrentLocation.Name"></MudListItem>
            </MudList>

            <MudRadioGroup T="Guid" Class="mud-radio" ValueChanged="OnSelectedDocumentChanged">
                @foreach (var consent in _participantDto.Consents)
                {
                    <MudRadio T="Guid" Color="Color.Primary" Value="@consent.DocumentId!.Value">
                        @consent.FileName
                    </MudRadio>
                }

                @if (_participantDto.RightToWorks is [])
                {
                    <MudRadio T="Guid" Color="Color.Primary" Disabled="true">
                        No right to work provided
                    </MudRadio>
                }

                @foreach (var rtw in _participantDto.RightToWorks)
                {
                    <MudRadio T="Guid" Color="Color.Primary" Value="@rtw.DocumentId!.Value">
                        @rtw.FileName
                    </MudRadio>
                }
            </MudRadioGroup>


            <MudButtonGroup Color="Color.Primary" Variant="Variant.Filled" Vertical="true">
                
                @if (_participantDto.EnrolmentStatus == EnrolmentStatus.SubmittedToProviderStatus)
                {
                    <MudButton Color="Color.Primary" OnClick="SubmitToQa">Approve</MudButton>    
                }
                
                
                <MudButton Color="Color.Secondary">Return</MudButton>
            </MudButtonGroup>


        </MudItem>
        <MudItem xs="8" Style="height: 100%; width: 100%;">
            <MudPaper Class="document-container">
                @if (fileBase64 != null && extension!.Equals("pdf", StringComparison.CurrentCultureIgnoreCase))
                {
                    <object data="data:application/pdf;base64,@fileBase64" type="application/pdf" class="full-size-object">
                        <p>PDF cannot be displayed.</p>
                    </object>
                }
                else
                {
                    <MudText Typo="Typo.caption">
                        Please select a file to display
                    </MudText>
                }
            </MudPaper>
        </MudItem>
    </MudGrid>
}
else
{
    // we are not at a QA stage.
    <MudAlert Variant="Variant.Filled" Severity="Severity.Error">
        <MudText>
            This participant is not in a QA stage
        </MudText>
    </MudAlert>
}


@code {

    private ParticipantDto? _participantDto = null;
    
    
    [Parameter]
    public string upci { get; set; } = null!;

    [CascadingParameter]
    public UserProfile? UserProfile { get; set; } = null!;

    protected Guid SelectedDocument { get; set; } = Guid.Empty;

    private string? fileBase64;
    private string? extension;
    
    protected override async Task OnInitializedAsync()
    {
        if (_participantDto is null)
        {
            _participantDto = await GetNewMediator().Send(new GetParticipantById.Query()
            {
                Id = upci 
            });

            if (_participantDto.TenantId.StartsWith(UserProfile!.TenantId!) == false)
            {
                throw new UnauthorizedException("Attempt to open a QA record you do not have access to!");
            }

            StateHasChanged();    
        }
    }

    protected async Task SubmitToQa()
    {
        var command = new SubmitToQa.Command()
        {
            ParticipantId = _participantDto!.Id
        };
        var result = await GetNewMediator().Send(command);

        if (result.Succeeded)
        {
            Snackbar.Add("Participant submitted to QA", Severity.Info);
            Navigation.NavigateTo("/pages/qa/enrolments/pqa");
        }
        else
        {
            ShowActionFailure("Failed to submit", result);
        }


    }
    
    private void ShowActionFailure(string title, IResult result)
    {
        Snackbar.Add(
        @<div>
            <h2>@title</h2>
            <ul>
                @foreach (var e in result.Errors)
                {
                    <li>@e</li>
                }
            </ul>
        </div>
        , Severity.Error, options => {
            options.RequireInteraction = true;
            options.SnackbarVariant = Variant.Text;
        } );
    }

    private async Task OnSelectedDocumentChanged(Guid documentId)
    {
        if (documentId != Guid.Empty)
        {
            var query = new GetDocumentById.Query()
            {
                Id = documentId
            };

            var result = await GetNewMediator().Send(query);

            using (var memoryStream = new MemoryStream())
            {
                await result.FileStream.CopyToAsync(memoryStream);
                var bytes = memoryStream.ToArray();
                fileBase64 = Convert.ToBase64String(bytes);
            }
            extension = result.FileExtension;
        }
    }
}